# Pandas Essential Training

## Installing Pandas

In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\wamba\appdata\roaming\python\python312\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\wamba\appdata\roaming\python\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wamba\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\wamba\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\wamba\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\wamba\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

## Importing Pandas

In [2]:
import pandas as pd

## Checking the Version of Pandas

In [3]:
pd.__version__

'2.3.3'

## Gettiing the list of available functions and attributes

In [4]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

## Reading tabular data into DataFrame

In [5]:
file_path = "../python_foundations/csv_files/olympics_1896_2004.csv"

olpics_df = pd.read_csv(file_path)
olpics_df

,"This is a list of medallists at the Summer Olympic Games (1896-2004) with details of the year of the olympics, city, sport, discipline, athlete name, gender, event and medal",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"DISCLAIMER: No guarantees, express or implied,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
...,...,...,...,...,...,...,...,...,...,...,...
27174,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27175,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27176,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27177,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27178,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

## Skipping rows while reading a CSV file (the first 5 rows, since they contain metadata)

In [6]:
olpics_df = pd.read_csv(file_path, skiprows=5)
olpics_df

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
...,...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

## Dimensions of the DataFrame

In [7]:
olpics_df.shape

(27174, 11)

## Displaying the first and last rows of the DataFrame
**By default it displays the first 5 and last 5 rows of the DataFrame**

In [8]:
olpics_df.head()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

In [9]:
olpics_df.tail()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

## Obtain a random sample of rows from a DataFrame.

> This can be useful when you want to quickly inspect a large dataset without loading the entire dataset into memory.

In [95]:
olpics_df.sample(15)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
17066,1984,Los Angeles,Cycling,Cycling Track,"Hegg, stephen edward",USA,Men,Individual pursuit,M,Gold
185,1900,Paris,Aquatics,Swimming,"Halmay, zoltan",HUN,Men,200m freestyle,M,Silver
16981,1984,Los Angeles,Wrestling,Wrestling Free.,"Sejdi, saban",YUG,Men,68 - 74kg (welterweight),M,Bronze
3649,1920,Antwerp,Archery,Archery,"Willems, theodorus b.",NED,Men,Moving bird target 28m teams,M,Gold
3750,1920,Antwerp,Rugby,Rugby,"Wrenn, heaton luse",USA,Men,Rugby,M,Gold
10845,1964,Tokyo,Aquatics,Swimming,"Küppers, ernst joachim",EUA,Men,4x100m medley relay,M,Silver
4442,1924,Paris,Sailing,Sailing,"Riggs, walter",GBR,Men,8m,X,Silver
20894,1992,Barcelona,Gymnastics,Artistic G.,"Misutin, grigori",EUN,Men,Individual all-round,M,Silver
7739,1948,London,Hockey,Hockey,"Derckx, henri jean joseph",NED,Men,Hockey,M,Bronze
3396,1920,Antwerp,Equestrian,Vaulting,"Finet, t.",BEL,Men,Figure riding individual,X,Bronze
5917,1932,Los Angeles,Wrestling,Wrestling Gre-R,"Kajander, väinö",FIN,Men,66 - 72kg (welterweight),M,Silver
25670,2004,Athens,Judo,Judo,"Georgiev, georgi",BUL,Men,60 - 66kg (half-lightweight),M,Bronze
21405,1996,Atlanta,Athletics,Athletics,"Johnson, allen",USA,Men,110m hurdles,M,Gold
23671,2000,Sydney,Judo,Judo,"Maddaloni, giuseppe",ITA,Men,66 - 73kg (lightweight),M,Gold
16029,1980,Moscow,Handball,Handball,"Munteanu, nicolae",ROU,Men,Handball,M,Bronze

## Observing basic statistical details like percentile, mean, std etc.
**This only works with numerical columns**
- This can be useful for quickly understanding the distribution and characteristics of your data.

In [11]:
olpics_df.describe()
# since we only have 2 numerical colonnes, here is the solution.

               Year      Position
count  27174.000000  27174.000000
mean    1964.685803      1.992566
std       31.590396      0.817469
min     1896.000000      1.000000
25%     1936.000000      1.000000
50%     1972.000000      2.000000
75%     1992.000000      3.000000
max     2004.000000      3.000000

## Obtain concise summary of a DataFrame
- This method provides information about the DataFrame's structure, including the number of non-null entries, data types of each column, and memory usage.

In [12]:
olpics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27174 entries, 0 to 27173
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27174 non-null  int64
 1   City          27174 non-null  object
 2   Sport         27174 non-null  object
 3   Discipline    27174 non-null  object
 4   Athlete Name  27174 non-null  object
 5   NOC           27174 non-null  object
 6   Gender        27174 non-null  object
 7   Event         27174 non-null  object
 8   Event Gender  27174 non-null  object
 9   Medal         27174 non-null  object
 10  Position      27174 non-null  int64
dtypes: int64(2), object(9)
memory usage: 2.3+ MB

In [13]:
pd.set_option("display.max_rows", 60)
olpics_df

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
...,...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

> REMARK : Anytime, when the column name has a space i will neeed to use the [""] notation to accesst it.

example:
olpics_df["City"] can also be written as `olpics_df.City`, but if the column name has a space like "Medal Count", then you have to use `olpics_df["Medal Count"]`

## Obtain uniuque values of a column

In [14]:
olpics_df.City.unique() 
# OR olpicc_df["City"].unique()

array(['Athens', 'Paris', 'St Louis', 'London', 'Stockholm', 'Antwerp',
       'Amsterdam', 'Los Angeles', 'Berlin', 'Helsinki',
       'Melbourne / Stockholm', 'Rome', 'Tokyo', 'Mexico', 'Munich',
       'Montreal', 'Moscow', 'Seoul', 'Barcelona', 'Atlanta', 'Sydney'],
      dtype=object)

In [15]:
olpics_df.Sport.unique()
# OR olpicc_df["Sport"].unique()

array(['Cycling', 'Athletics', 'Aquatics', 'Shooting', 'Tennis',
       'Fencing', 'Weightlifting', 'Gymnastics', 'Wrestling', 'Sailing',
       'Archery', 'Basque Pelota', 'Cricket', 'Croquet', 'Rowing',
       'Football', 'Equestrian', 'Golf', 'Polo', 'Rugby', 'Tug of War',
       'Boxing', 'Roque', 'Lacrosse', 'Water Motorsports', 'Rackets',
       'Hockey', 'Jeu de paume', 'Skating', 'Modern Pentathlon',
       'Ice Hockey', 'Canoe / Kayak', 'Basketball', 'Handball', 'Judo',
       'Volleyball', 'Table Tennis', 'Baseball', 'Badminton', 'Softball',
       'Taekwondo', 'Triathlon'], dtype=object)

In [111]:
olpics_df.NOC.nunique()
# OR olpics_df["NOC"].nunique()
print(f"There are {olpics_df.NOC.nunique()} unique NOC codes in the dataset.The list is as follows: {olpics_df.NOC.unique()}")

There are 132 unique NOC codes in the dataset.The list is as follows: <StringArray>
['FRA', 'GRE', 'USA', 'HUN', 'GER', 'AUT', 'GBR', 'AUS', 'DEN', 'ZZX',
 ...
 'KGZ', 'BAR', 'KSA', 'VIE', 'MKD', 'KUW', 'ERI', 'SCG', 'UAE', 'PAR']
Length: 132, dtype: string

## Count the number of occurrences of each unique value in a column

In [16]:
olpics_df["Year"].value_counts()

Year
2000    2015
2004    1998
1996    1859
1992    1705
1988    1546
1984    1459
1980    1387
1976    1305
1920    1298
1972    1185
1968    1031
1964    1010
1952     889
1956     885
1912     885
1924     884
1960     882
1936     875
1948     814
1908     804
1928     710
1932     615
1900     512
1904     470
1896     151
Name: count, dtype: int64

## Answering questions about the data

In [17]:
# What's the time range convered in the dataset ?
min_date = olpics_df["Year"].min()
max_date = olpics_df["Year"].max()

f"The time ranges from {min_date} et {max_date}"

'The time ranges from 1896 et 2004'

In [18]:
# The Olympics take place every fours years. Why are there missing years?
"Because WWI from 1914 - 1918 and WWII from 1939 - 1945"

'Because WWI from 1914 - 1918 and WWII from 1939 - 1945'

In [19]:
# What are the type of medals awarded ?
olpics_df["Medal"].unique().tolist()

['Gold', 'Silver', 'Bronze']

In [20]:
# Across all of the Olympic Games, how many gold, silver, and bronze medals have been there?
olpics_df["Medal"].value_counts()

Medal
Gold      9181
Silver    9014
Bronze    8979
Name: count, dtype: int64

In [21]:
# Why are there not an equel number of gold, silver, and bronze medals ?
olpics_df["Position"].value_counts()

Position
1    9181
2    9014
3    8979
Name: count, dtype: int64

In [22]:
# There are more gold medals than silver and more silver than bronze. Why might that be ?
olpics_df["Position"].value_counts()

Position
1    9181
2    9014
3    8979
Name: count, dtype: int64

In [23]:
# what are the different Notional Olympic Committees (NOCs) ?
olpics_df["NOC"].unique()

array(['FRA', 'GRE', 'USA', 'HUN', 'GER', 'AUT', 'GBR', 'AUS', 'DEN',
       'ZZX', 'SUI', 'IND', 'NED', 'CAN', 'NOR', 'BEL', 'ESP', 'BOH',
       'ITA', 'SWE', 'CUB', 'RU1', 'FIN', 'RSA', 'ANZ', 'LUX', 'EST',
       'BRA', 'JPN', 'TCH', 'NZL', 'ARG', 'HAI', 'POL', 'URU', 'YUG',
       'ROU', 'POR', 'EGY', 'PHI', 'IRL', 'CHI', 'MEX', 'LAT', 'TUR',
       'KOR', 'PAN', 'JAM', 'SRI', 'PER', 'PUR', 'IRI', 'TRI', 'URS',
       'LIB', 'BUL', 'VEN', 'EUA', 'PAK', 'ISL', 'BAH', 'BWI', 'GHA',
       'IRQ', 'SIN', 'TPE', 'ETH', 'MAR', 'TUN', 'NGR', 'KEN', 'FRG',
       'MGL', 'GDR', 'UGA', 'CMR', 'PRK', 'COL', 'NIG', 'BER', 'THA',
       'TAN', 'GUY', 'ZIM', 'ZAM', 'CHN', 'CIV', 'DOM', 'ALG', 'SYR',
       'SUR', 'CRC', 'SEN', 'AHO', 'DJI', 'ISV', 'INA', 'EUN', 'NAM',
       'IOP', 'QAT', 'ISR', 'LTU', 'CRO', 'SLO', 'MAS', 'RUS', 'UKR',
       'TGA', 'ARM', 'BLR', 'MDA', 'ECU', 'KAZ', 'AZE', 'BDI', 'SVK',
       'CZE', 'UZB', 'GEO', 'MOZ', 'HKG', 'KGZ', 'BAR', 'KSA', 'VIE',
       'MKD', 'KUW', 'ERI', 'SCG', 'UAE', 'PAR'], dtype=object)

In [99]:
# What does the NOC "ZZX" represent ?
"The mixed team (made up of athletes from different nations) that competed in 1896, 1900, and 1904 Olympics"
olpics_df[olpics_df["NOC"] == "ZZX"]

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
57,1896,Athens,Tennis,Tennis,"Flack, edwin",ZZX,Men,Doubles,M,Bronze
58,1896,Athens,Tennis,Tennis,"Robertson, george stuart",ZZX,Men,Doubles,M,Bronze
59,1896,Athens,Tennis,Tennis,"Boland, john",ZZX,Men,Doubles,M,Gold
60,1896,Athens,Tennis,Tennis,"Traun, friedrich",ZZX,Men,Doubles,M,Gold
61,1896,Athens,Tennis,Tennis,"Kasdaglis, dionysios",ZZX,Men,Doubles,M,Silver
62,1896,Athens,Tennis,Tennis,"Petrokokkinos, demetrios",ZZX,Men,Doubles,M,Silver
231,1900,Paris,Athletics,Athletics,"Bennett, charles",ZZX,Men,5000m team,M,Gold
232,1900,Paris,Athletics,Athletics,"Rimmer, john",ZZX,Men,5000m team,M,Gold
233,1900,Paris,Athletics,Athletics,"Robinson, sidney",ZZX,Men,5000m team,M,Gold
234,1900,Paris,Athletics,Athletics,"Rowley, stanley",ZZX,Men,5000m team,M,Gold
235,1900,Paris,Athletics,Athletics,"Tysoe, alfred",ZZX,Men,5000m team,M,Gold
332,1900,Paris,Tennis,Tennis,"De garmendia, basil spalding",ZZX,Men,Doubles,M,Silver
333,1900,Paris,Tennis,Tennis,"Decugis, max",ZZX,Men,Doubles,M,Silver
488,1900,Paris,Tennis,Tennis,"Doherty, hugh lawrence",ZZX,Men,Mixed doubles,X,Bronze
489,1900,Paris,Tennis,Tennis,"Warden, archibald a.",ZZX,Men,Mixed doubles,X,Bronze
491,1900,Paris,Tennis,Tennis,"Mahony, harold sergerson",ZZX,Men,Mixed doubles,X,Silver
492,1900,Paris,Tennis,Tennis,"Jones, marion",ZZX,Women,Mixed doubles,X,Bronze
493,1900,Paris,Tennis,Tennis,"Rosenbaum, hedwig",ZZX,Women,Mixed doubles,X,Bronze
495,1900,Paris,Tennis,Tennis,"Prevost, hélène",ZZX,Women,Mixed doubles,X,Silver
508,1900,Paris,Rowing,Rowing,"Brandt, francois antoine",ZZX,Men,Pair-oared shell with coxswain (2+),M,Gold
509,1900,Paris,Rowing,Rowing,"Brockmann, hermanus gerardus",ZZX,Men,Pair-oared shell with coxswain (2+),M,Gold
510,1900,Paris,Rowing,Rowing,"Klein, roelof",ZZX,Men,Pair-oared shell with coxswain (2+),M,Gold
517,1900,Paris,Polo,Polo,"Boussod, jean",ZZX,Men,Polo,M,Bronze
518,1900,Paris,Polo,Polo,"Duc de bisaccia, louis",ZZX,Men,Polo,M,Bronze
519,1900,Paris,Polo,Polo,"Fauquet lemaitre, a.",ZZX,Men,Polo,M,Bronze
520,1900,Paris,Polo,Polo,"Raoul-duval, maurice",ZZX,Men,Polo,M,Bronze
521,1900,Paris,Polo,Polo,"Daly, dennis",ZZX,Men,Polo,M,Gold
522,1900,Paris,Polo,Polo,"Keene, foxhall parker",ZZX,Men,Polo,M,Gold
523,1900,Paris,Polo,Polo,"Mackey, frank jay",ZZX,Men,Polo,M,Gold
524,1900,Paris,Polo,Polo,"Rawlinson, alfred",ZZX,Men,Polo,M,Gold
525,1900,Paris,Polo,Polo,"Buckmaster, walter selby",ZZX,Men,Polo,M,Silver
526,1900,Paris,Polo,Polo,"Comte de madre, josé pierre m.j.",ZZX,Men,Polo,M,Silver
527,1900,Paris,Polo,Polo,"Freake, frederick maitland",ZZX,Men,Polo,M,Silver
528,1900,Paris,Polo,Polo,"Mccreery, walter adolph",ZZX,Men,Polo,M,Silver
611,1900,Paris,Tug of War,Tug of War,"Aabye, edgar",ZZX,Men,Tug of war,M,Gold
612,1900,Paris,Tug of War,Tug of War,"Nilsson, august",ZZX,Men,Tug of war,M,Gold
613,1900,Paris,Tug of War,Tug of War,"Schmidt, eugen",ZZX,Men,Tug of war,M,Gold
614,1900,Paris,Tug of War,Tug of War,"Söderström, gustaf",ZZX,Men,Tug of war,M,Gold
615,1900,Paris,Tug of War,Tug of War,"Staaf, karl gustav",ZZX,Men,Tug of war,M,Gold
616,1900,Paris,Tug of War,Tug of War,"Winckler, charles",ZZX,Men,Tug of war,M,Gold
748,1904,St Louis,Athletics,Athletics,"Coray, albert",ZZX,Men,4miles team,M,Silver
749,1904,St Louis,Athletics,Athletics,"Hatch, sidney",ZZX,Men,4miles team,M,Silver
750,1904,St Louis,Athletics,Athletics,"Hearn, lacey",ZZX,Men,4miles team,M,Silver
751,1904,St Louis,Athletics,Athletics,"Lightbody, james",ZZX,Men,4miles team,M,Silver
752,1904,St Louis,Athletics,Athletics,"Verner, william frank",ZZX,Men,4miles team,M,Silver
878,1904,St Louis,Fencing,Fencing,"Diaz, manuel",ZZX,Men,Foil team,M,Gold
879,1904,St Louis,Fencing,Fencing,"Fonst, ramon",ZZX,Men,Foil team,M,Gold
880,1904,St Louis,Fencing,Fencing,"Van zo post, albertson",ZZX,Men,Foil team,M,Gold

## Renaming columns in a DataFrame

In [104]:
olpics_df.columns.to_list()

['Year',
 'City',
 'Sport',
 'Discipline',
 'Athlete_Name',
 'NOC',
 'Gender',
 'Event',
 'Event_Gender',
 'Medal']

In [105]:
mapper = {
    "Athlete Name" : "Athlete_Name",
    "Event Gender" : "Event_Gender"
}
olpics_df.rename(columns=mapper)
# now to apply it to our dataframe
olpics_df = olpics_df.rename(columns=mapper)
olpics_df.columns.to_list()

['Year',
 'City',
 'Sport',
 'Discipline',
 'Athlete_Name',
 'NOC',
 'Gender',
 'Event',
 'Event_Gender',
 'Medal']

## Drop columns in a DataFrame

> In pandas, the `drop` method is used to remove specified labels from rows or columns of a DataFrame. When you want to drop columns, you need to specify the `axis` parameter as `1` (or `'columns'`) to indicate that you are dropping columns rather than rows.

In [ ]:
# Droping the position column, sicnce we already have the Medal column, and from it we can know the position.
olpics_df = olpics_df.drop(columns=["Position"])
olpics_df.columns.to_list()

['Year',
 'City',
 'Sport',
 'Discipline',
 'Athlete_Name',
 'NOC',
 'Gender',
 'Event',
 'Event_Gender',
 'Medal']

In [28]:
olpics_df.sample(5)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
15411,1980,Moscow,Aquatics,Swimming,"VASILKOVA, Elvira",URS,Women,4x100m medley relay,W,Bronze
13524,1972,Munich,Athletics,Athletics,"BLAGOEVA-DIMITROVA, Yordanka",BUL,Women,high jump,W,Silver
7176,1936,Berlin,Aquatics,Water polo,"KLINGENBURG, Paul",GER,Men,water polo,M,Silver
23063,1996,Atlanta,Volleyball,Volleyball,"BARROS, Leila",BRA,Women,volleyball,W,Bronze
20440,1992,Barcelona,Rowing,Rowing,"HAWKINS, Stephen Mark",AUS,Men,double sculls (2x),M,Gold

## Filstering rows based on a condition (single condition)

In [29]:
# filtering dataset based on the year 2000
olpics_df[olpics_df["Year"] == 2000]

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
23161,2000,Sydney,Judo,Judo,"PERTELSON, Indrek",EST,Men,+ 100kg (heavyweight),M,Bronze
23162,2000,Sydney,Judo,Judo,"TMENOV, Tamerlan",RUS,Men,+ 100kg (heavyweight),M,Bronze
23163,2000,Sydney,Judo,Judo,"DOUILLET, David",FRA,Men,+ 100kg (heavyweight),M,Gold
23164,2000,Sydney,Judo,Judo,"SHINOHARA, Shinichi",JPN,Men,+ 100kg (heavyweight),M,Silver
23165,2000,Sydney,Weightlifting,Weightlifting,"CHEMERKIN, Andrey",RUS,Men,+ 105kg,M,Bronze
...,...,...,...,...,...,...,...,...,...,...
25171,2000,Sydney,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold
25172,2000,Sydney,Fencing,Fencing,"MAZINA, Mariya",RUS,Women,épée team,W,Gold
25173,2000,Sydney,Fencing,Fencing,"BUERKI, Gianna",SUI,Women,épée team,W,Silver
25174,2000,Sydney,Fencing,Fencing,"LAMON, Sophie",SUI,Women,épée team,W,Silver
25175,2000,Sydney,Fencing,Fencing,"ROMAGNOLI, Diana",SUI,Women,épée team,W,Silver

In [30]:
# Filtering the dataset baded on the sport "Gymnastics"
olpics_df[olpics_df["Sport"] == "Gymnastics"]

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
77,1896,Athens,Gymnastics,Artistic G.,"WEINGÄRTNER, Hermann",GER,Men,horizontal bar,M,Gold
78,1896,Athens,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,horizontal bar,M,Silver
91,1896,Athens,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,parallel bars,M,Gold
92,1896,Athens,Gymnastics,Artistic G.,"ZUTTER, Louis",SUI,Men,parallel bars,M,Silver
97,1896,Athens,Gymnastics,Artistic G.,"ZUTTER, Louis",SUI,Men,pommel horse,M,Gold
...,...,...,...,...,...,...,...,...,...,...
26992,2004,Athens,Gymnastics,Artistic G.,"DEFERR, Gervasio",ESP,Men,vault,M,Gold
26993,2004,Athens,Gymnastics,Artistic G.,"SAPRONENKO, Evgeni",LAT,Men,vault,M,Silver
26994,2004,Athens,Gymnastics,Artistic G.,"PAVLOVA, Anna",RUS,Women,vault,W,Bronze
26995,2004,Athens,Gymnastics,Artistic G.,"ROSU, Monica",ROU,Women,vault,W,Gold
26996,2004,Athens,Gymnastics,Artistic G.,"HATCH, Annia",USA,Women,vault,W,Silver

## Filtering rows based on (multiple conditions)

In [ ]:
# Obtaining all the gold medals won in the year 2000
olpics_df[(olpics_df["Year"] == 2000) & (olpics_df["Medal"] == "Gold")]

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
23163,2000,Sydney,Judo,Judo,"DOUILLET, David",FRA,Men,+ 100kg (heavyweight),M,Gold
23166,2000,Sydney,Weightlifting,Weightlifting,"REZA ZADEH, Hossein",IRI,Men,+ 105kg,M,Gold
23169,2000,Sydney,Taekwondo,Taekwondo,"CHEN, Zhong",CHN,Women,+ 67 kg,W,Gold
23172,2000,Sydney,Weightlifting,Weightlifting,"DING, Meiyuan",CHN,Women,+ 75kg,W,Gold
23176,2000,Sydney,Judo,Judo,"YUAN, Hua",CHN,Women,+ 78kg (heavyweight),W,Gold
...,...,...,...,...,...,...,...,...,...,...
25162,2000,Sydney,Fencing,Fencing,"ROTA, Alfredo",ITA,Men,épée team,M,Gold
25169,2000,Sydney,Fencing,Fencing,"AZNAVOURIAN, Karina",RUS,Women,épée team,W,Gold
25170,2000,Sydney,Fencing,Fencing,"ERMAKOVA, Oxana",RUS,Women,épée team,W,Gold
25171,2000,Sydney,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold
25172,2000,Sydney,Fencing,Fencing,"MAZINA, Mariya",RUS,Women,épée team,W,Gold

In [32]:
# Getting the first men to run 100m in under 10 seconds for each Olympic games
first_men_100m = olpics_df[(olpics_df["Event"] == "100m") & (olpics_df["Event_Gender"] == "M") & (olpics_df["Medal"] == "Gold")]
first_men_100m

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
166,1900,Paris,Athletics,Athletics,"JARVIS, Francis",USA,Men,100m,M,Gold
687,1904,St Louis,Athletics,Athletics,"HAHN, Archie",USA,Men,100m,M,Gold
1158,1908,London,Athletics,Athletics,"WALKER, Reginald",RSA,Men,100m,M,Gold
1950,1912,Stockholm,Athletics,Athletics,"CRAIG, Ralph",USA,Men,100m,M,Gold
2854,1920,Antwerp,Athletics,Athletics,"PADDOCK, Charles",USA,Men,100m,M,Gold
4151,1924,Paris,Athletics,Athletics,"ABRAHAMS, Harold",GBR,Men,100m,M,Gold
5032,1928,Amsterdam,Athletics,Athletics,"WILLIAMS, Percy",CAN,Men,100m,M,Gold
5742,1932,Los Angeles,Athletics,Athletics,"TOLAN, Eddie",USA,Men,100m,M,Gold
6357,1936,Berlin,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
7235,1948,London,Athletics,Athletics,"DILLARD, Harrison",USA,Men,100m,M,Gold
8051,1952,Helsinki,Athletics,Athletics,"REMIGINO, Lindy",USA,Men,100m,M,Gold
8937,1956,Melbourne / Stockholm,Athletics,Athletics,"MORROW, Robert Joseph",USA,Men,100m,M,Gold
9822,1960,Rome,Athletics,Athletics,"HARY, Armin",EUA,Men,100m,M,Gold
10712,1964,Tokyo,Athletics,Athletics,"HAYES, Robert",USA,Men,100m,M,Gold
11714,1968,Mexico,Athletics,Athletics,"HINES, James Ray",USA,Men,100m,M,Gold
12752,1972,Munich,Athletics,Athletics,"BORZOV, Valery",URS,Men,100m,M,Gold
13941,1976,Montreal,Athletics,Athletics,"CRAWFORD, Hasely",TRI,Men,100m,M,Gold
15249,1980,Moscow,Athletics,Athletics,"WELLS, Allan",GBR,Men,100m,M,Gold
16636,1984,Los Angeles,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
18098,1988,Seoul,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
19655,1992,Barcelona,Athletics,Athletics,"CHRISTIE, Linford",GBR,Men,100m,M,Gold
21354,1996,Atlanta,Athletics,Athletics,"BAILEY, Donovan",CAN,Men,100m,M,Gold
23210,2000,Sydney,Athletics,Athletics,"GREENE, Maurice",USA,Men,100m,M,Gold
25233,2004,Athens,Athletics,Athletics,"GATLIN, Justin",USA,Men,100m,M,Gold

In [33]:
# Display only the Athlete_Name, NOC, Year, and Medal columns
first_men_100m[["Athlete_Name", "NOC", "Year", "Medal"]]
# Alternatively : 
# first_men_100m = olpics_df[(olpics_df["Event"] == "100m") & (olpics_df["Event_Gender"] == "M") & (olpics_df["Medal"] == "Gold")][["Athlete_Name", "NOC", "Year", "Medal"]]
# first_men_100m

                Athlete_Name  NOC  Year Medal
4              BURKE, Thomas  USA  1896  Gold
166          JARVIS, Francis  USA  1900  Gold
687             HAHN, Archie  USA  1904  Gold
1158        WALKER, Reginald  RSA  1908  Gold
1950            CRAIG, Ralph  USA  1912  Gold
2854        PADDOCK, Charles  USA  1920  Gold
4151        ABRAHAMS, Harold  GBR  1924  Gold
5032         WILLIAMS, Percy  CAN  1928  Gold
5742            TOLAN, Eddie  USA  1932  Gold
6357            OWENS, Jesse  USA  1936  Gold
7235       DILLARD, Harrison  USA  1948  Gold
8051         REMIGINO, Lindy  USA  1952  Gold
8937   MORROW, Robert Joseph  USA  1956  Gold
9822             HARY, Armin  EUA  1960  Gold
10712          HAYES, Robert  USA  1964  Gold
11714       HINES, James Ray  USA  1968  Gold
12752         BORZOV, Valery  URS  1972  Gold
13941       CRAWFORD, Hasely  TRI  1976  Gold
15249           WELLS, Allan  GBR  1980  Gold
16636            LEWIS, Carl  USA  1984  Gold
18098            LEWIS, Carl  USA  1988  Gold
19655      CHRISTIE, Linford  GBR  1992  Gold
21354        BAILEY, Donovan  CAN  1996  Gold
23210        GREENE, Maurice  USA  2000  Gold
25233         GATLIN, Justin  USA  2004  Gold

In [ ]:
# sort by Year in descending orde
first_men_100m.sort_values(by="Year", ascending=False)
# olpics_df.sort_values(by=["Year", "Medal"], ascending=[False, True]) Another example using the olpics_df dataframe

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
25233,2004,Athens,Athletics,Athletics,"GATLIN, Justin",USA,Men,100m,M,Gold
23210,2000,Sydney,Athletics,Athletics,"GREENE, Maurice",USA,Men,100m,M,Gold
21354,1996,Atlanta,Athletics,Athletics,"BAILEY, Donovan",CAN,Men,100m,M,Gold
19655,1992,Barcelona,Athletics,Athletics,"CHRISTIE, Linford",GBR,Men,100m,M,Gold
18098,1988,Seoul,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
16636,1984,Los Angeles,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
15249,1980,Moscow,Athletics,Athletics,"WELLS, Allan",GBR,Men,100m,M,Gold
13941,1976,Montreal,Athletics,Athletics,"CRAWFORD, Hasely",TRI,Men,100m,M,Gold
12752,1972,Munich,Athletics,Athletics,"BORZOV, Valery",URS,Men,100m,M,Gold
11714,1968,Mexico,Athletics,Athletics,"HINES, James Ray",USA,Men,100m,M,Gold
10712,1964,Tokyo,Athletics,Athletics,"HAYES, Robert",USA,Men,100m,M,Gold
9822,1960,Rome,Athletics,Athletics,"HARY, Armin",EUA,Men,100m,M,Gold
8937,1956,Melbourne / Stockholm,Athletics,Athletics,"MORROW, Robert Joseph",USA,Men,100m,M,Gold
8051,1952,Helsinki,Athletics,Athletics,"REMIGINO, Lindy",USA,Men,100m,M,Gold
7235,1948,London,Athletics,Athletics,"DILLARD, Harrison",USA,Men,100m,M,Gold
6357,1936,Berlin,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
5742,1932,Los Angeles,Athletics,Athletics,"TOLAN, Eddie",USA,Men,100m,M,Gold
5032,1928,Amsterdam,Athletics,Athletics,"WILLIAMS, Percy",CAN,Men,100m,M,Gold
4151,1924,Paris,Athletics,Athletics,"ABRAHAMS, Harold",GBR,Men,100m,M,Gold
2854,1920,Antwerp,Athletics,Athletics,"PADDOCK, Charles",USA,Men,100m,M,Gold
1950,1912,Stockholm,Athletics,Athletics,"CRAIG, Ralph",USA,Men,100m,M,Gold
1158,1908,London,Athletics,Athletics,"WALKER, Reginald",RSA,Men,100m,M,Gold
687,1904,St Louis,Athletics,Athletics,"HAHN, Archie",USA,Men,100m,M,Gold
166,1900,Paris,Athletics,Athletics,"JARVIS, Francis",USA,Men,100m,M,Gold
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold

## Using string methods

In [35]:
# Changing the the 'Athlete_Names' to Capitalized
olpics_df["Athlete_Name"].str.capitalize()

0             Flameng, léon
1        Kolettis, georgios
2             Lane, francis
3          Szokolyi, alajos
4             Burke, thomas
                ...
27169    Logounova, tatiana
27170         Sivkova, anna
27171        Bokel, claudia
27172       Duplitzer, imke
27173     Heidemann, britta
Name: Athlete_Name, Length: 27174, dtype: object

In [36]:
# Changing the 'Event' to Capitalized
olpics_df["Event"].str.capitalize()

0            100km
1            100km
2             100m
3             100m
4             100m
           ...
27169    Épée team
27170    Épée team
27171    Épée team
27172    Épée team
27173    Épée team
Name: Event, Length: 27174, dtype: object

In [37]:
# Saving the changes in the dataframe object
olpics_df["Event"] = olpics_df["Event"].str.capitalize()
olpics_df["Athlete_Name"] = olpics_df["Athlete_Name"].str.capitalize()
olpics_df.sample(5)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
16257,1980,Moscow,Rowing,Rowing,"Gruitcheva-kubatova, stoyanka",BUL,Women,Pair without coxswain (2-),W,Bronze
14112,1976,Montreal,Athletics,Athletics,"Aksinin, aleksandr",URS,Men,4x100m relay,M,Bronze
17336,1984,Los Angeles,Sailing,Sailing,"Allam, peter frank",GBR,Men,Flying dutchman,X,Bronze
16470,1980,Moscow,Volleyball,Volleyball,"Cata-chitiga, marius",ROU,Men,Volleyball,M,Bronze
2687,1912,Stockholm,Gymnastics,Artistic G.,"Vinther, johannes larsen",DEN,Men,"Team, swedish system",M,Silver

In [38]:
# The mosted successful athletes 'Larisa Latynina' with 18 medals
olpics_df["Athlete_Name"].str.count("Latynina").sum()

18

In [39]:
# Checking how many times 'Latynina' appears in the Athlete_Name column
olpics_df["Athlete_Name"].str.contains("Latynina")

0        False
1        False
2        False
3        False
4        False
         ...
27169    False
27170    False
27171    False
27172    False
27173    False
Name: Athlete_Name, Length: 27174, dtype: bool

In [40]:
# Now to filter the dataframe based on the above condition
olpics_df[olpics_df["Athlete_Name"].str.contains("Latynina")][["Athlete_Name", "NOC", "Year", "Medal"]]

           Athlete_Name  NOC  Year   Medal
9372   Latynina, larisa  URS  1956    Gold
9539   Latynina, larisa  URS  1956    Gold
9679   Latynina, larisa  URS  1956    Gold
9702   Latynina, larisa  URS  1956  Bronze
9735   Latynina, larisa  URS  1956  Silver
9741   Latynina, larisa  URS  1956    Gold
10179  Latynina, larisa  URS  1960  Silver
10277  Latynina, larisa  URS  1960    Gold
10458  Latynina, larisa  URS  1960    Gold
10576  Latynina, larisa  URS  1960    Gold
10612  Latynina, larisa  URS  1960  Silver
10616  Latynina, larisa  URS  1960  Bronze
11095  Latynina, larisa  URS  1964  Bronze
11195  Latynina, larisa  URS  1964    Gold
11387  Latynina, larisa  URS  1964  Silver
11517  Latynina, larisa  URS  1964    Gold
11551  Latynina, larisa  URS  1964  Bronze
11558  Latynina, larisa  URS  1964  Silver

## Sorting a DataFrame or series

In [41]:
olpics_df.head(10)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
0,1896,Athens,Cycling,Cycling Track,"Flameng, léon",FRA,Men,100km,M,Gold
1,1896,Athens,Cycling,Cycling Track,"Kolettis, georgios",GRE,Men,100km,M,Silver
2,1896,Athens,Athletics,Athletics,"Lane, francis",USA,Men,100m,M,Bronze
3,1896,Athens,Athletics,Athletics,"Szokolyi, alajos",HUN,Men,100m,M,Bronze
4,1896,Athens,Athletics,Athletics,"Burke, thomas",USA,Men,100m,M,Gold
5,1896,Athens,Athletics,Athletics,"Hofmann, fritz",GER,Men,100m,M,Silver
6,1896,Athens,Aquatics,Swimming,"Hajos, alfred",HUN,Men,100m freestyle,M,Gold
7,1896,Athens,Aquatics,Swimming,"Herschmann, otto",AUT,Men,100m freestyle,M,Silver
8,1896,Athens,Aquatics,Swimming,"Drivas, dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
9,1896,Athens,Aquatics,Swimming,"Malokinis, ioannis",GRE,Men,100m freestyle for sailors,M,Gold

In [42]:
# Sorting a DataFrame
olpics_df.sort_values(by="Athlete_Name")

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
611,1900,Paris,Tug of War,Tug of War,"Aabye, edgar",ZZX,Men,Tug of war,M,Gold
3060,1920,Antwerp,Aquatics,Swimming,"Aaltonen, arvo ossian",FIN,Men,400m breaststroke,M,Bronze
2963,1920,Antwerp,Aquatics,Swimming,"Aaltonen, arvo ossian",FIN,Men,200m breaststroke,M,Bronze
7792,1948,London,Gymnastics,Artistic G.,"Aaltonen, paavo johannes",FIN,Men,Individual all-round,M,Bronze
7906,1948,London,Gymnastics,Artistic G.,"Aaltonen, paavo johannes",FIN,Men,Team competition,M,Gold
...,...,...,...,...,...,...,...,...,...,...
275,1900,Paris,Shooting,Shooting,"Östmo, ole",NOR,Men,"Army rifle, 300m, prone",M,Bronze
443,1900,Paris,Shooting,Shooting,"Östmo, ole",NOR,Men,"Free rifle, team",M,Silver
280,1900,Paris,Shooting,Shooting,"Östmo, ole",NOR,Men,"Army rifle, 300m, standing",M,Silver
268,1900,Paris,Shooting,Shooting,"Östmo, ole",NOR,Men,"Army rifle, 300m, 3 positions",M,Bronze
8125,1952,Helsinki,Aquatics,Swimming,"Östrand, per-olof",SWE,Men,400m freestyle,M,Bronze

In [43]:
# Checking if it's a DataFrame
type(olpics_df.sort_values(by="Athlete_Name"))

pandas.core.frame.DataFrame

In [44]:
# Sorting a column
olpics_df["Athlete_Name"].sort_values()

611                 Aabye, edgar
3060       Aaltonen, arvo ossian
2963       Aaltonen, arvo ossian
7792    Aaltonen, paavo johannes
7906    Aaltonen, paavo johannes
                  ...
275                   Östmo, ole
443                   Östmo, ole
280                   Östmo, ole
268                   Östmo, ole
8125           Östrand, per-olof
Name: Athlete_Name, Length: 27174, dtype: object

In [45]:
# checking if it's a Series
type(olpics_df["Athlete_Name"].sort_values())

pandas.core.series.Series

In [46]:
# Sorting a DataFrame by multiple columns
olpics_df.sort_values(by=["Year", "Athlete_Name"])

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
20,1896,Athens,Aquatics,Swimming,"Andreou, joannis",GRE,Men,1200m freestyle,M,Silver
103,1896,Athens,Gymnastics,Artistic G.,"Andriakopoulos, nicolaos",GRE,Men,Rope climbing,M,Gold
141,1896,Athens,Gymnastics,Artistic G.,"Andriakopoulos, nicolaos",GRE,Men,"Team, parallel bars",M,Silver
142,1896,Athens,Gymnastics,Artistic G.,"Athanasopoulos, spyros",GRE,Men,"Team, parallel bars",M,Silver
79,1896,Athens,Cycling,Cycling Road,"Battel, edward",GBR,Men,Individual road race,M,Bronze
...,...,...,...,...,...,...,...,...,...,...
25753,2004,Athens,Boxing,Boxing,"Zuyev, viktar",BLR,Men,81 - 91kg (heavyweight),M,Silver
25748,2004,Athens,Judo,Judo,"Zviadauri, zurab",GEO,Men,81 - 90kg (middleweight),M,Gold
26570,2004,Athens,Hockey,Hockey,"Zwehl, julia",GER,Women,Hockey,W,Gold
25440,2004,Athens,Aquatics,Swimming,"Zwering, klaas-erik",NED,Men,4x100m freestyle relay,M,Silver
25587,2004,Athens,Athletics,Athletics,"Zykina, olesya",RUS,Women,4x400m relay,W,Silver

In [47]:
# Sorting a DataFrame by multiple columns but in different orders
olpics_df.sort_values(by=["Year", "Athlete_Name"], ascending=[True, False])

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
92,1896,Athens,Gymnastics,Artistic G.,"Zutter, louis",SUI,Men,Parallel bars,M,Silver
97,1896,Athens,Gymnastics,Artistic G.,"Zutter, louis",SUI,Men,Pommel horse,M,Gold
150,1896,Athens,Gymnastics,Artistic G.,"Zutter, louis",SUI,Men,Vault,M,Silver
104,1896,Athens,Gymnastics,Artistic G.,"Xenakis, thomasios",GRE,Men,Rope climbing,M,Silver
144,1896,Athens,Gymnastics,Artistic G.,"Xenakis, thomasios",GRE,Men,"Team, parallel bars",M,Silver
...,...,...,...,...,...,...,...,...,...,...
26997,2004,Athens,Volleyball,Volleyball,"Abramov, pavel",RUS,Men,Volleyball,M,Bronze
25726,2004,Athens,Wrestling,Wrestling Gre-R,"Abrahamian, ara",SWE,Men,74 - 84kg,M,Silver
25418,2004,Athens,Taekwondo,Taekwondo,"Abdallah, nia",USA,Women,49 - 57 kg,W,Silver
26832,2004,Athens,Cycling,Cycling Track,"Abassova, tamilla",RUS,Women,Sprint,W,Silver
25212,2004,Athens,Wrestling,Wrestling Free.,"Abas, stephen",USA,Men,- 55kg,M,Silver

## Working with data types

In [48]:
olpics_df.dtypes

Year             int64
City            object
Sport           object
Discipline      object
Athlete_Name    object
NOC             object
Gender          object
Event           object
Event_Gender    object
Medal           object
dtype: object

In [49]:
# Changeing all categorial columns to 'category' data type
categorical_cols = ["Gender", "Event_Gender", "Medal"]
for col in categorical_cols:
    olpics_df[col] = olpics_df[col].astype("category")

olpics_df.dtypes

Year               int64
City              object
Sport             object
Discipline        object
Athlete_Name      object
NOC               object
Gender          category
Event             object
Event_Gender    category
Medal           category
dtype: object

In [50]:
# changing the order of the 'Medal' category. That's is Bronze < Silver < Gold. Because by default it's in alphabetical order and in the Olympics, Bronze is less than Silver which is less than Gold.
medal_categories = ["Bronze", "Silver", "Gold"]
olpics_df["Medal"] = olpics_df["Medal"].cat.reorder_categories(medal_categories, ordered=True)
# Alternatively, we can also use the 'Categorical' data type constructor to achieve the same
# olpics_df["Medal"] = pd.Categorical(olpics_df["Medal"], categories=medal_categories, ordered=True)
olpics_df.dtypes

Year               int64
City              object
Sport             object
Discipline        object
Athlete_Name      object
NOC               object
Gender          category
Event             object
Event_Gender    category
Medal           category
dtype: object

## Memory usage of a DataTypes

- The `category` data type is more memory efficient for columns with a limited number of unique values compared to using the `object` data type.
Mathematically, the memory savings can be significant, especially for large datasets with many repeated values.
- Furtthermore, using the `category` data type can lead to performance improvements in certain operations, such as filtering and grouping, because pandas can leverage the underlying integer representation of the categories.
- Also the `string` data type is optimized for text data and can provide better performance and memory efficiency compared to the `object` data type, which is a more general-purpose type that can hold any Python object.

In [51]:
# changing all the non categorical object columns to 'string' data type
object_cols = olpics_df.select_dtypes(include="object").columns.tolist()
for col in object_cols:
    olpics_df[col] = olpics_df[col].astype("string")
    
olpics_df.dtypes

Year                     int64
City            string[python]
Sport           string[python]
Discipline      string[python]
Athlete_Name    string[python]
NOC             string[python]
Gender                category
Event           string[python]
Event_Gender          category
Medal                 category
dtype: object

## Working with indexes

In [52]:
olpics_df.index

RangeIndex(start=0, stop=27174, step=1)

In [53]:
# obtaining the row at index position 1000
olpics_df.loc[1000, "Event"]

'Lacrosse'

In [54]:
# Getting Athlete_Name, Event, Year for the row at index position 1000
olpics_df.loc[1000, ["Athlete_Name", "Event", "Year"]]

Athlete_Name    Sullivan
Event           Lacrosse
Year                1904
Name: 1000, dtype: object

## Main difference between .loc and .iloc

- `.loc` is *label-based*, which means that you have to specify the names of the rows and columns that you want to select.
- `.iloc` is integer *position-based*, which means that you have to specify the integer indexes of the rows and columns that you want to select.

In [ ]:
# using iloc to obtain the same row
olpics_df.iloc[1000, 3]  # 3 is the index position of the 'Event' column4

'Lacrosse'

In [56]:
olpics_df.iloc[10:15, 0:3]  # rows 10 to 14 and first 3 columns

    Year    City      Sport
10  1896  Athens   Aquatics
11  1896  Athens    Cycling
12  1896  Athens    Cycling
13  1896  Athens    Cycling
14  1896  Athens  Athletics

## Being productive in pandas, Some best practices

In [57]:
# Fors example , searching for a specific methode or attribute in pandas
import re

search_string =  input("Enter the search string: ") 
if not search_string:
    search_string = "merge" # default search string
[method for method in dir(pd) if re.search(search_string, method, re.IGNORECASE)]

[]

In [58]:
# Creating a reusable function to search for pandas methods and attributes
def search_pandas_methods(search_string="merge"):
    import re
    search_string = input("Enter the search string: ").strip()
    return [method for method in dir(pd) if re.search(search_string, method, re.IGNORECASE)]

# NOTE : I will call this function whenever I want to search for a pandas method or attribute.

In [59]:
# Documentation while staying in the notebook
pd.merge?

Signature:
pd.merge(
    left: 'DataFrame | Series',
    right: 'DataFrame | Series',
    how: 'MergeHow' = 'inner',
    on: 'IndexLabel | AnyArrayLike | None' = None,
    left_on: 'IndexLabel | AnyArrayLike | None' = None,
    right_on: 'IndexLabel | AnyArrayLike | None' = None,
    left_index: 'bool' = False,
    right_index: 'bool' = False,
    sort: 'bool' = False,
    suffixes: 'Suffixes' = ('_x', '_y'),
    copy: 'bool | None' = None,
    indicator: 'str | bool' = False,
    validate: 'str | None' = None,
) -> 'DataFrame'
Docstring:
Merge DataFrame or named Series objects with a database-style join.

A named Series object is treated as a DataFrame with a single named column.

The join is done on columns or indexes. If joining columns on
columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
on indexes or indexes on a column or columns, the index will be passed on.
When performing a cross merge, no column specifications to merge on are
allowed.

.. warning::

    If both key columns contain rows where the key is a null value, those
    rows will be matched against each other. This is different from usual SQL
    join behaviour and can lead to unexpected results.

Parameters
----------
left : DataFrame or named Series
right : DataFrame or named Series
    Object to merge with.
how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
    Type of merge to be performed.

    * left: use only keys from left frame, similar to a SQL left outer join;
      preserve key order.
    * right: use only keys from right frame, similar to a SQL right outer join;
      preserve key order.
    * outer: use union of keys from both frames, similar to a SQL full outer
      join; sort keys lexicographically.
    * inner: use intersection of keys from both frames, similar to a SQL inner
      join; preserve the order of the left keys.
    * cross: creates the cartesian product from both frames, preserves the order
      of the left keys.
on : label or list
    Column or index level names to join on. These must be found in both
    DataFrames. If `on` is None and not merging on indexes then this defaults
    to the intersection of the columns in both DataFrames.
left_on : label or list, or array-like
    Column or index level names to join on in the left DataFrame. Can also
    be an array or list of arrays of the length of the left DataFrame.
    These arrays are treated as if they are columns.
right_on : label or list, or array-like
    Column or index level names to join on in the right DataFrame. Can also
    be an array or list of arrays of the length of the right DataFrame.
    These arrays are treated as if they are columns.
left_index : bool, default False
    Use the index from the left DataFrame as the join key(s). If it is a
    MultiIndex, the number of keys in the other DataFrame (either the index
    or a number of columns) must match the number of levels.
right_index : bool, default False
    Use the index from the right DataFrame as the join key. Same caveats as
    left_index.
sort : bool, default False
    Sort the join keys lexicographically in the result DataFrame. If False,
    the order of the join keys depends on the join type (how keyword).
suffixes : list-like, default is ("_x", "_y")
    A length-2 sequence where each element is optionally a string
    indicating the suffix to add to overlapping column names in
    `left` and `right` respectively. Pass a value of `None` instead
    of a string to indicate that the column name from `left` or
    `right` should be left as-is, with no suffix. At least one of the
    values must not be None.
copy : bool, default True
    If False, avoid copy if possible.

    .. note::
        The `copy` keyword will change behavior in pandas 3.0.
        `Copy-on-Write
        <https://pandas.pydata.org/docs/dev/user_guide/copy_on_write.html>`__
        will be enabled by default, which means that all methods with a
        `copy` keyword will use a lazy copy mechanism to defer the copy and
        ignore the `copy` keyword. The `copy` keyword will be removed in a
        future version of pandas.

        You can already get the future behavior and improvements through
        enabling copy on write ``pd.options.mode.copy_on_write = True``
indicator : bool or str, default False
    If True, adds a column to the output DataFrame called "_merge" with
    information on the source of each row. The column can be given a different
    name by providing a string argument. The column will have a Categorical
    type with the value of "left_only" for observations whose merge key only
    appears in the left DataFrame, "right_only" for observations
    whose merge key only appears in the right DataFrame, and "both"
    if the observation's merge key is found in both DataFrames.

validate : str, optional
    If specified, checks if merge is of specified type.

    * "one_to_one" or "1:1": check if merge keys are unique in both
      left and right datasets.
    * "one_to_many" or "1:m": check if merge keys are unique in left
      dataset.
    * "many_to_one" or "m:1": check if merge keys are unique in right
      dataset.
    * "many_to_many" or "m:m": allowed, but does not result in checks.

Returns
-------
DataFrame
    A DataFrame of the two merged objects.

See Also
--------
merge_ordered : Merge with optional filling/interpolation.
merge_asof : Merge on nearest keys.
DataFrame.join : Similar method using indices.

Examples
--------
>>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [1, 2, 3, 5]})
>>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [5, 6, 7, 8]})
>>> df1
    lkey value
0   foo      1
1   bar      2
2   baz      3
3   foo      5
>>> df2
    rkey value
0   foo      5
1   bar      6
2   baz      7
3   foo      8

Merge df1 and df2 on the lkey and rkey columns. The value columns have
the default suffixes, _x and _y, appended.

>>> df1.merge(df2, left_on='lkey', right_on='rkey')
  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  bar        2  bar        6
3  baz        3  baz        7
4  foo        5  foo        5
5  foo        5  foo        8

Merge DataFrames df1 and df2 with specified left and right suffixes
appended to any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey',
...           suffixes=('_left', '_right'))
  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  bar           2  bar            6
3  baz           3  baz            7
4  foo           5  foo            5
5  foo           5  foo            8

Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
Traceback (most recent call last):
...
ValueError: columns overlap but no suffix specified:
    Index(['value'], dtype='object')

>>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
>>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
>>> df1
      a  b
0   foo  1
1   bar  2
>>> df2
      a  c
0   foo  3
1   baz  4

>>> df1.merge(df2, how='inner', on='a')
      a  b  c
0   foo  1  3

>>> df1.merge(df2, how='left', on='a')
      a  b  c
0   foo  1  3.0
1   bar  2  NaN

>>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
>>> df2 = pd.DataFrame({'right': [7, 8]})
>>> df1
    left
0   foo
1   bar
>>> df2
    right
0   7
1   8

>>> df1.merge(df2, how='cross')
   left  right
0   foo      7
1   foo      8
2   bar      7
3   bar      8
File:      c:\users\wamba\appdata\roaming\python\python312\site-packages\pandas\core\reshape\merge.py
Type:      function

In [60]:
# The isin method to filter dataframes
gap_years = [1980, 1984, 1988, 1992, 1996, 2000]
olpics_df[olpics_df["Year"].isin(gap_years)]

# here, we can't use single or multiple conditions with the or operator (|) because it would be too long and not scalable.
# We can't use the contains method either because it works only for string columns.
# Instead, we can use the isin method to filter the 'Year' column based on a list of values like shown above.

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
15205,1980,Moscow,Wrestling,Wrestling Free.,"Sandurski, adam",POL,Men,+ 100kg (super heavyweight),M,Bronze
15206,1980,Moscow,Wrestling,Wrestling Free.,"Andiev, soslan",URS,Men,+ 100kg (super heavyweight),M,Gold
15207,1980,Moscow,Wrestling,Wrestling Free.,"Balla, jozsef",HUN,Men,+ 100kg (super heavyweight),M,Silver
15208,1980,Moscow,Wrestling,Wrestling Gre-R,"Bchara, hassan",LIB,Men,+ 100kg (super heavyweight),M,Bronze
15209,1980,Moscow,Wrestling,Wrestling Gre-R,"Kolchinsky, aleksandr",URS,Men,+ 100kg (super heavyweight),M,Gold
...,...,...,...,...,...,...,...,...,...,...
25171,2000,Sydney,Fencing,Fencing,"Logounova, tatiana",RUS,Women,Épée team,W,Gold
25172,2000,Sydney,Fencing,Fencing,"Mazina, mariya",RUS,Women,Épée team,W,Gold
25173,2000,Sydney,Fencing,Fencing,"Buerki, gianna",SUI,Women,Épée team,W,Silver
25174,2000,Sydney,Fencing,Fencing,"Lamon, sophie",SUI,Women,Épée team,W,Silver
25175,2000,Sydney,Fencing,Fencing,"Romagnoli, diana",SUI,Women,Épée team,W,Silver

In [61]:
# We can also use the same methode to filter colunmns that are not in a list of values
olpics_df[~olpics_df["Year"].isin(gap_years)]

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
0,1896,Athens,Cycling,Cycling Track,"Flameng, léon",FRA,Men,100km,M,Gold
1,1896,Athens,Cycling,Cycling Track,"Kolettis, georgios",GRE,Men,100km,M,Silver
2,1896,Athens,Athletics,Athletics,"Lane, francis",USA,Men,100m,M,Bronze
3,1896,Athens,Athletics,Athletics,"Szokolyi, alajos",HUN,Men,100m,M,Bronze
4,1896,Athens,Athletics,Athletics,"Burke, thomas",USA,Men,100m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"Logounova, tatiana",RUS,Women,Épée team,W,Gold
27170,2004,Athens,Fencing,Fencing,"Sivkova, anna",RUS,Women,Épée team,W,Gold
27171,2004,Athens,Fencing,Fencing,"Bokel, claudia",GER,Women,Épée team,W,Silver
27172,2004,Athens,Fencing,Fencing,"Duplitzer, imke",GER,Women,Épée team,W,Silver
27173,2004,Athens,Fencing,Fencing,"Heidemann, britta",GER,Women,Épée team,W,Silver

## Creating  DataFrames and Series from scratch

In [62]:
City = ["Tokyo", "Paris", "Los Angeles", "Seoul", "Barcelona", "Atlanta", "Dschang", "Cocody", "Abidjan", "Yamoussoukro", "Yaounde", "Douala", "Bamako", "Accra"]
Population = [37400068, 11020000, 3970000, 9733509, 5585550, 4980445, 942884, 671185, 476500, 355573, 2642000, 4750000, 2025083, 2291354]
data = {
    "City" : City,
    "Population" : Population
}

In [63]:
# crating the Series
population_series = pd.Series(Population, name="Population")
population_series

0     37400068
1     11020000
2      3970000
3      9733509
4      5585550
5      4980445
6       942884
7       671185
8       476500
9       355573
10     2642000
11     4750000
12     2025083
13     2291354
Name: Population, dtype: int64

In [64]:
# Creating the DataFrame, Method 1 : Using Series
city_df = pd.DataFrame(
    {
        "City" : pd.Series(City),
        "Population" : pd.Series(Population)
    }
)
city_df

            City  Population
0          Tokyo    37400068
1          Paris    11020000
2    Los Angeles     3970000
3          Seoul     9733509
4      Barcelona     5585550
5        Atlanta     4980445
6        Dschang      942884
7         Cocody      671185
8        Abidjan      476500
9   Yamoussoukro      355573
10       Yaounde     2642000
11        Douala     4750000
12        Bamako     2025083
13         Accra     2291354

In [65]:
# Creating the DataFrame, Method 2 : Using a using the list City and Population
city_df_2 = pd.DataFrame(
    {
        "City" : City,
        "Population" : Population
    }
)
city_df_2

            City  Population
0          Tokyo    37400068
1          Paris    11020000
2    Los Angeles     3970000
3          Seoul     9733509
4      Barcelona     5585550
5        Atlanta     4980445
6        Dschang      942884
7         Cocody      671185
8        Abidjan      476500
9   Yamoussoukro      355573
10       Yaounde     2642000
11        Douala     4750000
12        Bamako     2025083
13         Accra     2291354

In [66]:
# Creating the DataFrame, Method 3 : Using a dictionary
city_df_3 = pd.DataFrame(data)
city_df_3

            City  Population
0          Tokyo    37400068
1          Paris    11020000
2    Los Angeles     3970000
3          Seoul     9733509
4      Barcelona     5585550
5        Atlanta     4980445
6        Dschang      942884
7         Cocody      671185
8        Abidjan      476500
9   Yamoussoukro      355573
10       Yaounde     2642000
11        Douala     4750000
12        Bamako     2025083
13         Accra     2291354

In [67]:
# Creating the DataFrame, Method 4: using the zip function
city_df_4 = pd.DataFrame(
    list(zip(City, Population)),
    columns=["City", "Population"]
)

city_df_4
# NOTE : The zip functions is used to combine two or more lists into a list of tuples, where each tuple contains one element from each of the input lists.

            City  Population
0          Tokyo    37400068
1          Paris    11020000
2    Los Angeles     3970000
3          Seoul     9733509
4      Barcelona     5585550
5        Atlanta     4980445
6        Dschang      942884
7         Cocody      671185
8        Abidjan      476500
9   Yamoussoukro      355573
10       Yaounde     2642000
11        Douala     4750000
12        Bamako     2025083
13         Accra     2291354

## Working with dates

In [68]:
City = ["Tokyo", "Paris", "Los Angeles", "Seoul", "Barcelona", "Atlanta", "Dschang", "Cocody", "Abidjan", "Yamoussoukro", "Yaounde", "Douala", "Bamako", "Accra"]
Population = [37400068, 11020000, 3970000, 9733509, 5585550, 4980445, 942884, 671185, 476500, 355573, 2642000, 4750000, 2025083, 2291354]
# entering dates with different formats
registered_dates = ["2023-01-15", "15/02/2023", "March 3, 2023", "2023.04.10", "2023/05/20", "June 25 2023", "2023-07-30", "08-15-2023", "September 5th, 2023", "2023.10.10", "11/11/2023", "December 1, 2023", "2023-12-15", "2023/12/31"]
data = {
    "City" : City,
    "Population" : Population,
    "Registered_Date" : registered_dates
}

In [69]:
country_df = pd.DataFrame(data)
country_df

            City  Population      Registered_Date
0          Tokyo    37400068           2023-01-15
1          Paris    11020000           15/02/2023
2    Los Angeles     3970000        March 3, 2023
3          Seoul     9733509           2023.04.10
4      Barcelona     5585550           2023/05/20
5        Atlanta     4980445         June 25 2023
6        Dschang      942884           2023-07-30
7         Cocody      671185           08-15-2023
8        Abidjan      476500  September 5th, 2023
9   Yamoussoukro      355573           2023.10.10
10       Yaounde     2642000           11/11/2023
11        Douala     4750000     December 1, 2023
12        Bamako     2025083           2023-12-15
13         Accra     2291354           2023/12/31

In [70]:
# checking the data types of the columns
country_df.dtypes

City               object
Population          int64
Registered_Date    object
dtype: object

In [71]:
# searching for pandas methods or attributes using the reusable function
search_pandas_methods()

[]

In [72]:
pd.to_datetime?

Signature:
pd.to_datetime(
    arg: 'DatetimeScalarOrArrayConvertible | DictConvertible',
    errors: 'DateTimeErrorChoices' = 'raise',
    dayfirst: 'bool' = False,
    yearfirst: 'bool' = False,
    utc: 'bool' = False,
    format: 'str | None' = None,
    exact: 'bool | lib.NoDefault' = <no_default>,
    unit: 'str | None' = None,
    infer_datetime_format: 'lib.NoDefault | bool' = <no_default>,
    origin: 'str' = 'unix',
    cache: 'bool' = True,
) -> 'DatetimeIndex | Series | DatetimeScalar | NaTType | None'
Docstring:
Convert argument to datetime.

This function converts a scalar, array-like, :class:`Series` or
:class:`DataFrame`/dict-like to a pandas datetime object.

Parameters
----------
arg : int, float, str, datetime, list, tuple, 1-d array, Series, DataFrame/dict-like
    The object to convert to a datetime. If a :class:`DataFrame` is provided, the
    method expects minimally the following columns: :const:`"year"`,
    :const:`"month"`, :const:`"day"`. The column "year"
    must be specified in 4-digit format.
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If :const:`'raise'`, then invalid parsing will raise an exception.
    - If :const:`'coerce'`, then invalid parsing will be set as :const:`NaT`.
    - If :const:`'ignore'`, then invalid parsing will return the input.
dayfirst : bool, default False
    Specify a date parse order if `arg` is str or is list-like.
    If :const:`True`, parses dates with the day first, e.g. :const:`"10/11/12"`
    is parsed as :const:`2012-11-10`.

    .. warning::

        ``dayfirst=True`` is not strict, but will prefer to parse
        with day first.

yearfirst : bool, default False
    Specify a date parse order if `arg` is str or is list-like.

    - If :const:`True` parses dates with the year first, e.g.
      :const:`"10/11/12"` is parsed as :const:`2010-11-12`.
    - If both `dayfirst` and `yearfirst` are :const:`True`, `yearfirst` is
      preceded (same as :mod:`dateutil`).

    .. warning::

        ``yearfirst=True`` is not strict, but will prefer to parse
        with year first.

utc : bool, default False
    Control timezone-related parsing, localization and conversion.

    - If :const:`True`, the function *always* returns a timezone-aware
      UTC-localized :class:`Timestamp`, :class:`Series` or
      :class:`DatetimeIndex`. To do this, timezone-naive inputs are
      *localized* as UTC, while timezone-aware inputs are *converted* to UTC.

    - If :const:`False` (default), inputs will not be coerced to UTC.
      Timezone-naive inputs will remain naive, while timezone-aware ones
      will keep their time offsets. Limitations exist for mixed
      offsets (typically, daylight savings), see :ref:`Examples
      <to_datetime_tz_examples>` section for details.

    .. warning::

        In a future version of pandas, parsing datetimes with mixed time
        zones will raise an error unless `utc=True`.
        Please specify `utc=True` to opt in to the new behaviour
        and silence this warning. To create a `Series` with mixed offsets and
        `object` dtype, please use `apply` and `datetime.datetime.strptime`.

    See also: pandas general documentation about `timezone conversion and
    localization
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html
    #time-zone-handling>`_.

format : str, default None
    The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
    `strftime documentation
    <https://docs.python.org/3/library/datetime.html
    #strftime-and-strptime-behavior>`_ for more information on choices, though
    note that :const:`"%f"` will parse all the way up to nanoseconds.
    You can also pass:

    - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
      time string (not necessarily in exactly the same format);
    - "mixed", to infer the format for each element individually. This is risky,
      and you should probably use it along with `dayfirst`.

    .. note::

        If a :class:`DataFrame` is passed, then `format` has no effect.

exact : bool, default True
    Control how `format` is used:

    - If :const:`True`, require an exact `format` match.
    - If :const:`False`, allow the `format` to match anywhere in the target
      string.

    Cannot be used alongside ``format='ISO8601'`` or ``format='mixed'``.
unit : str, default 'ns'
    The unit of the arg (D,s,ms,us,ns) denote the unit, which is an
    integer or float number. This will be based off the origin.
    Example, with ``unit='ms'`` and ``origin='unix'``, this would calculate
    the number of milliseconds to the unix epoch start.
infer_datetime_format : bool, default False
    If :const:`True` and no `format` is given, attempt to infer the format
    of the datetime strings based on the first non-NaN element,
    and if it can be inferred, switch to a faster method of parsing them.
    In some cases this can increase the parsing speed by ~5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has
        no effect.

origin : scalar, default 'unix'
    Define the reference date. The numeric values would be parsed as number
    of units (defined by `unit`) since this reference date.

    - If :const:`'unix'` (or POSIX) time; origin is set to 1970-01-01.
    - If :const:`'julian'`, unit must be :const:`'D'`, and origin is set to
      beginning of Julian Calendar. Julian day number :const:`0` is assigned
      to the day starting at noon on January 1, 4713 BC.
    - If Timestamp convertible (Timestamp, dt.datetime, np.datetimt64 or date
      string), origin is set to Timestamp identified by origin.
    - If a float or integer, origin is the difference
      (in units determined by the ``unit`` argument) relative to 1970-01-01.
cache : bool, default True
    If :const:`True`, use a cache of unique, converted dates to apply the
    datetime conversion. May produce significant speed-up when parsing
    duplicate date strings, especially ones with timezone offsets. The cache
    is only used when there are at least 50 values. The presence of
    out-of-bounds values will render the cache unusable and may slow down
    parsing.

Returns
-------
datetime
    If parsing succeeded.
    Return type depends on input (types in parenthesis correspond to
    fallback in case of unsuccessful timezone or out-of-range timestamp
    parsing):

    - scalar: :class:`Timestamp` (or :class:`datetime.datetime`)
    - array-like: :class:`DatetimeIndex` (or :class:`Series` with
      :class:`object` dtype containing :class:`datetime.datetime`)
    - Series: :class:`Series` of :class:`datetime64` dtype (or
      :class:`Series` of :class:`object` dtype containing
      :class:`datetime.datetime`)
    - DataFrame: :class:`Series` of :class:`datetime64` dtype (or
      :class:`Series` of :class:`object` dtype containing
      :class:`datetime.datetime`)

Raises
------
ParserError
    When parsing a date from string fails.
ValueError
    When another datetime conversion error happens. For example when one
    of 'year', 'month', day' columns is missing in a :class:`DataFrame`, or
    when a Timezone-aware :class:`datetime.datetime` is found in an array-like
    of mixed time offsets, and ``utc=False``.

See Also
--------
DataFrame.astype : Cast argument to a specified dtype.
to_timedelta : Convert argument to timedelta.
convert_dtypes : Convert dtypes.

Notes
-----

Many input types are supported, and lead to different output types:

- **scalars** can be int, float, str, datetime object (from stdlib :mod:`datetime`
  module or :mod:`numpy`). They are converted to :class:`Timestamp` when
  possible, otherwise they are converted to :class:`datetime.datetime`.
  None/NaN/null scalars are converted to :const:`NaT`.

- **array-like** can contain int, float, str, datetime objects. They are
  converted to :class:`DatetimeIndex` when possible, otherwise they are
  converted to :class:`Index` with :class:`object` dtype, containing
  :class:`datetime.datetime`. None/NaN/null entries are converted to
  :const:`NaT` in both cases.

- **Series** are converted to :class:`Series` with :class:`datetime64`
  dtype when possible, otherwise they are converted to :class:`Series` with
  :class:`object` dtype, containing :class:`datetime.datetime`. None/NaN/null
  entries are converted to :const:`NaT` in both cases.

- **DataFrame/dict-like** are converted to :class:`Series` with
  :class:`datetime64` dtype. For each row a datetime is created from assembling
  the various dataframe columns. Column keys can be common abbreviations
  like ['year', 'month', 'day', 'minute', 'second', 'ms', 'us', 'ns']) or
  plurals of the same.

The following causes are responsible for :class:`datetime.datetime` objects
being returned (possibly inside an :class:`Index` or a :class:`Series` with
:class:`object` dtype) instead of a proper pandas designated type
(:class:`Timestamp`, :class:`DatetimeIndex` or :class:`Series`
with :class:`datetime64` dtype):

- when any input element is before :const:`Timestamp.min` or after
  :const:`Timestamp.max`, see `timestamp limitations
  <https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html
  #timeseries-timestamp-limits>`_.

- when ``utc=False`` (default) and the input is an array-like or
  :class:`Series` containing mixed naive/aware datetime, or aware with mixed
  time offsets. Note that this happens in the (quite frequent) situation when
  the timezone has a daylight savings policy. In that case you may wish to
  use ``utc=True``.

Examples
--------

**Handling various input formats**

Assembling a datetime from multiple columns of a :class:`DataFrame`. The keys
can be common abbreviations like ['year', 'month', 'day', 'minute', 'second',
'ms', 'us', 'ns']) or plurals of the same

>>> df = pd.DataFrame({'year': [2015, 2016],
...                    'month': [2, 3],
...                    'day': [4, 5]})
>>> pd.to_datetime(df)
0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

Using a unix epoch time

>>> pd.to_datetime(1490195805, unit='s')
Timestamp('2017-03-22 15:16:45')
>>> pd.to_datetime(1490195805433502912, unit='ns')
Timestamp('2017-03-22 15:16:45.433502912')

.. warning:: For float arg, precision rounding might happen. To prevent
    unexpected behavior use a fixed-width exact type.

Using a non-unix epoch origin

>>> pd.to_datetime([1, 2, 3], unit='D',
...                origin=pd.Timestamp('1960-01-01'))
DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04'],
              dtype='datetime64[ns]', freq=None)

**Differences with strptime behavior**

:const:`"%f"` will parse all the way up to nanoseconds.

>>> pd.to_datetime('2018-10-26 12:00:00.0000000011',
...                format='%Y-%m-%d %H:%M:%S.%f')
Timestamp('2018-10-26 12:00:00.000000001')

**Non-convertible date/times**

Passing ``errors='coerce'`` will force an out-of-bounds date to :const:`NaT`,
in addition to forcing non-dates (or non-parseable dates) to :const:`NaT`.

>>> pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')
NaT

.. _to_datetime_tz_examples:

**Timezones and time offsets**

The default behaviour (``utc=False``) is as follows:

- Timezone-naive inputs are converted to timezone-naive :class:`DatetimeIndex`:

>>> pd.to_datetime(['2018-10-26 12:00:00', '2018-10-26 13:00:15'])
DatetimeIndex(['2018-10-26 12:00:00', '2018-10-26 13:00:15'],
              dtype='datetime64[ns]', freq=None)

- Timezone-aware inputs *with constant time offset* are converted to
  timezone-aware :class:`DatetimeIndex`:

>>> pd.to_datetime(['2018-10-26 12:00 -0500', '2018-10-26 13:00 -0500'])
DatetimeIndex(['2018-10-26 12:00:00-05:00', '2018-10-26 13:00:00-05:00'],
              dtype='datetime64[ns, UTC-05:00]', freq=None)

- However, timezone-aware inputs *with mixed time offsets* (for example
  issued from a timezone with daylight savings, such as Europe/Paris)
  are **not successfully converted** to a :class:`DatetimeIndex`.
  Parsing datetimes with mixed time zones will show a warning unless
  `utc=True`. If you specify `utc=False` the warning below will be shown
  and a simple :class:`Index` containing :class:`datetime.datetime`
  objects will be returned:

>>> pd.to_datetime(['2020-10-25 02:00 +0200',
...                 '2020-10-25 04:00 +0100'])  # doctest: +SKIP
FutureWarning: In a future version of pandas, parsing datetimes with mixed
time zones will raise an error unless `utc=True`. Please specify `utc=True`
to opt in to the new behaviour and silence this warning. To create a `Series`
with mixed offsets and `object` dtype, please use `apply` and
`datetime.datetime.strptime`.
Index([2020-10-25 02:00:00+02:00, 2020-10-25 04:00:00+01:00],
      dtype='object')

- A mix of timezone-aware and timezone-naive inputs is also converted to
  a simple :class:`Index` containing :class:`datetime.datetime` objects:

>>> from datetime import datetime
>>> pd.to_datetime(["2020-01-01 01:00:00-01:00",
...                 datetime(2020, 1, 1, 3, 0)])  # doctest: +SKIP
FutureWarning: In a future version of pandas, parsing datetimes with mixed
time zones will raise an error unless `utc=True`. Please specify `utc=True`
to opt in to the new behaviour and silence this warning. To create a `Series`
with mixed offsets and `object` dtype, please use `apply` and
`datetime.datetime.strptime`.
Index([2020-01-01 01:00:00-01:00, 2020-01-01 03:00:00], dtype='object')

|

Setting ``utc=True`` solves most of the above issues:

- Timezone-naive inputs are *localized* as UTC

>>> pd.to_datetime(['2018-10-26 12:00', '2018-10-26 13:00'], utc=True)
DatetimeIndex(['2018-10-26 12:00:00+00:00', '2018-10-26 13:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

- Timezone-aware inputs are *converted* to UTC (the output represents the
  exact same datetime, but viewed from the UTC time offset `+00:00`).

>>> pd.to_datetime(['2018-10-26 12:00 -0530', '2018-10-26 12:00 -0500'],
...                utc=True)
DatetimeIndex(['2018-10-26 17:30:00+00:00', '2018-10-26 17:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

- Inputs can contain both string or datetime, the above
  rules still apply

>>> pd.to_datetime(['2018-10-26 12:00', datetime(2020, 1, 1, 18)], utc=True)
DatetimeIndex(['2018-10-26 12:00:00+00:00', '2020-01-01 18:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
File:      c:\users\wamba\appdata\roaming\python\python312\site-packages\pandas\core\tools\datetimes.py
Type:      function

In [73]:
# chaging the data type
country_df["City"] = country_df["City"].astype("string")
country_df["Registered_Date"] = pd.to_datetime(country_df["Registered_Date"], format="mixed")

country_df.dtypes

City               string[python]
Population                  int64
Registered_Date    datetime64[ns]
dtype: object

In [74]:
country_df

            City  Population Registered_Date
0          Tokyo    37400068      2023-01-15
1          Paris    11020000      2023-02-15
2    Los Angeles     3970000      2023-03-03
3          Seoul     9733509      2023-04-10
4      Barcelona     5585550      2023-05-20
5        Atlanta     4980445      2023-06-25
6        Dschang      942884      2023-07-30
7         Cocody      671185      2023-08-15
8        Abidjan      476500      2023-09-05
9   Yamoussoukro      355573      2023-10-10
10       Yaounde     2642000      2023-11-11
11        Douala     4750000      2023-12-01
12        Bamako     2025083      2023-12-15
13         Accra     2291354      2023-12-31

In [75]:
# using the asign method to create a new column 'Country' with default value 'Unknown'
country_df = country_df.assign(Country="Unknown")
country_df = country_df.drop(columns=["Country"])
country_df

            City  Population Registered_Date
0          Tokyo    37400068      2023-01-15
1          Paris    11020000      2023-02-15
2    Los Angeles     3970000      2023-03-03
3          Seoul     9733509      2023-04-10
4      Barcelona     5585550      2023-05-20
5        Atlanta     4980445      2023-06-25
6        Dschang      942884      2023-07-30
7         Cocody      671185      2023-08-15
8        Abidjan      476500      2023-09-05
9   Yamoussoukro      355573      2023-10-10
10       Yaounde     2642000      2023-11-11
11        Douala     4750000      2023-12-01
12        Bamako     2025083      2023-12-15
13         Accra     2291354      2023-12-31

## Combining DataFrames

In [76]:
pd.concat?

Signature:
pd.concat(
    objs: 'Iterable[Series | DataFrame] | Mapping[HashableT, Series | DataFrame]',
    *,
    axis: 'Axis' = 0,
    join: 'str' = 'outer',
    ignore_index: 'bool' = False,
    keys: 'Iterable[Hashable] | None' = None,
    levels=None,
    names: 'list[HashableT] | None' = None,
    verify_integrity: 'bool' = False,
    sort: 'bool' = False,
    copy: 'bool | None' = None,
) -> 'DataFrame | Series'
Docstring:
Concatenate pandas objects along a particular axis.

Allows optional set logic along the other axes.

Can also add a layer of hierarchical indexing on the concatenation axis,
which may be useful if the labels are the same (or overlapping) on
the passed axis number.

Parameters
----------
objs : a sequence or mapping of Series or DataFrame objects
    If a mapping is passed, the sorted keys will be used as the `keys`
    argument, unless it is passed, in which case the values will be
    selected (see below). Any None objects will be dropped silently unless
    they are all None in which case a ValueError will be raised.
axis : {0/'index', 1/'columns'}, default 0
    The axis to concatenate along.
join : {'inner', 'outer'}, default 'outer'
    How to handle indexes on other axis (or axes).
ignore_index : bool, default False
    If True, do not use the index values along the concatenation axis. The
    resulting axis will be labeled 0, ..., n - 1. This is useful if you are
    concatenating objects where the concatenation axis does not have
    meaningful indexing information. Note the index values on the other
    axes are still respected in the join.
keys : sequence, default None
    If multiple levels passed, should contain tuples. Construct
    hierarchical index using the passed keys as the outermost level.
levels : list of sequences, default None
    Specific levels (unique values) to use for constructing a
    MultiIndex. Otherwise they will be inferred from the keys.
names : list, default None
    Names for the levels in the resulting hierarchical index.
verify_integrity : bool, default False
    Check whether the new concatenated axis contains duplicates. This can
    be very expensive relative to the actual data concatenation.
sort : bool, default False
    Sort non-concatenation axis if it is not already aligned. One exception to
    this is when the non-concatentation axis is a DatetimeIndex and join='outer'
    and the axis is not already aligned. In that case, the non-concatenation
    axis is always sorted lexicographically.
copy : bool, default True
    If False, do not copy data unnecessarily.

Returns
-------
object, type of objs
    When concatenating all ``Series`` along the index (axis=0), a
    ``Series`` is returned. When ``objs`` contains at least one
    ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
    the columns (axis=1), a ``DataFrame`` is returned.

See Also
--------
DataFrame.join : Join DataFrames using indexes.
DataFrame.merge : Merge DataFrames by indexes or columns.

Notes
-----
The keys, levels, and names arguments are all optional.

A walkthrough of how this method fits in with other tools for combining
pandas objects can be found `here
<https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

It is not recommended to build DataFrames by adding single rows in a
for loop. Build a list of rows and make a DataFrame in a single concat.

Examples
--------
Combine two ``Series``.

>>> s1 = pd.Series(['a', 'b'])
>>> s2 = pd.Series(['c', 'd'])
>>> pd.concat([s1, s2])
0    a
1    b
0    c
1    d
dtype: object

Clear the existing index and reset it in the result
by setting the ``ignore_index`` option to ``True``.

>>> pd.concat([s1, s2], ignore_index=True)
0    a
1    b
2    c
3    d
dtype: object

Add a hierarchical index at the outermost level of
the data with the ``keys`` option.

>>> pd.concat([s1, s2], keys=['s1', 's2'])
s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

Label the index keys you create with the ``names`` option.

>>> pd.concat([s1, s2], keys=['s1', 's2'],
...           names=['Series name', 'Row ID'])
Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

Combine two ``DataFrame`` objects with identical columns.

>>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
...                    columns=['letter', 'number'])
>>> df1
  letter  number
0      a       1
1      b       2
>>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
...                    columns=['letter', 'number'])
>>> df2
  letter  number
0      c       3
1      d       4
>>> pd.concat([df1, df2])
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects with overlapping columns
and return everything. Columns outside the intersection will
be filled with ``NaN`` values.

>>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
...                    columns=['letter', 'number', 'animal'])
>>> df3
  letter  number animal
0      c       3    cat
1      d       4    dog
>>> pd.concat([df1, df3], sort=False)
  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

Combine ``DataFrame`` objects with overlapping columns
and return only those that are shared by passing ``inner`` to
the ``join`` keyword argument.

>>> pd.concat([df1, df3], join="inner")
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects horizontally along the x axis by
passing in ``axis=1``.

>>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
...                    columns=['animal', 'name'])
>>> pd.concat([df1, df4], axis=1)
  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

Prevent the result from including duplicate index values with the
``verify_integrity`` option.

>>> df5 = pd.DataFrame([1], index=['a'])
>>> df5
   0
a  1
>>> df6 = pd.DataFrame([2], index=['a'])
>>> df6
   0
a  2
>>> pd.concat([df5, df6], verify_integrity=True)
Traceback (most recent call last):
    ...
ValueError: Indexes have overlapping values: ['a']

Append a single row to the end of a ``DataFrame`` object.

>>> df7 = pd.DataFrame({'a': 1, 'b': 2}, index=[0])
>>> df7
    a   b
0   1   2
>>> new_row = pd.Series({'a': 3, 'b': 4})
>>> new_row
a    3
b    4
dtype: int64
>>> pd.concat([df7, new_row.to_frame().T], ignore_index=True)
    a   b
0   1   2
1   3   4
File:      c:\users\wamba\appdata\roaming\python\python312\site-packages\pandas\core\reshape\concat.py
Type:      function

In [77]:
# First case: Concatenating DataFrames vertically (stacking rows)
# Imaginez deux relevés de ventes mensuels
ventes_janvier = pd.DataFrame({
    'Produit': ['Pomme', 'Orange'],
    'Quantite': [10, 5]
})

ventes_fevrier = pd.DataFrame({
    'Produit': ['Banane', 'Poire'],
    'Quantite': [7, 3]
})
print(f"Ventes Janvier: {ventes_janvier}\n")
print(f"Ventes Février: {ventes_fevrier}\n")

Ventes Janvier:   Produit  Quantite
0   Pomme        10
1  Orange         5

Ventes Février:   Produit  Quantite
0  Banane         7
1   Poire         3

In [78]:
# On veut juste tout mettre dans un seul tableau
# axis=0 signifie "empiler verticalement" (ajouter des lignes)
total_ventes = pd.concat([ventes_janvier, ventes_fevrier], axis=0)
total_ventes

  Produit  Quantite
0   Pomme        10
1  Orange         5
0  Banane         7
1   Poire         3

In [79]:
pd.merge?

Signature:
pd.merge(
    left: 'DataFrame | Series',
    right: 'DataFrame | Series',
    how: 'MergeHow' = 'inner',
    on: 'IndexLabel | AnyArrayLike | None' = None,
    left_on: 'IndexLabel | AnyArrayLike | None' = None,
    right_on: 'IndexLabel | AnyArrayLike | None' = None,
    left_index: 'bool' = False,
    right_index: 'bool' = False,
    sort: 'bool' = False,
    suffixes: 'Suffixes' = ('_x', '_y'),
    copy: 'bool | None' = None,
    indicator: 'str | bool' = False,
    validate: 'str | None' = None,
) -> 'DataFrame'
Docstring:
Merge DataFrame or named Series objects with a database-style join.

A named Series object is treated as a DataFrame with a single named column.

The join is done on columns or indexes. If joining columns on
columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
on indexes or indexes on a column or columns, the index will be passed on.
When performing a cross merge, no column specifications to merge on are
allowed.

.. warning::

    If both key columns contain rows where the key is a null value, those
    rows will be matched against each other. This is different from usual SQL
    join behaviour and can lead to unexpected results.

Parameters
----------
left : DataFrame or named Series
right : DataFrame or named Series
    Object to merge with.
how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
    Type of merge to be performed.

    * left: use only keys from left frame, similar to a SQL left outer join;
      preserve key order.
    * right: use only keys from right frame, similar to a SQL right outer join;
      preserve key order.
    * outer: use union of keys from both frames, similar to a SQL full outer
      join; sort keys lexicographically.
    * inner: use intersection of keys from both frames, similar to a SQL inner
      join; preserve the order of the left keys.
    * cross: creates the cartesian product from both frames, preserves the order
      of the left keys.
on : label or list
    Column or index level names to join on. These must be found in both
    DataFrames. If `on` is None and not merging on indexes then this defaults
    to the intersection of the columns in both DataFrames.
left_on : label or list, or array-like
    Column or index level names to join on in the left DataFrame. Can also
    be an array or list of arrays of the length of the left DataFrame.
    These arrays are treated as if they are columns.
right_on : label or list, or array-like
    Column or index level names to join on in the right DataFrame. Can also
    be an array or list of arrays of the length of the right DataFrame.
    These arrays are treated as if they are columns.
left_index : bool, default False
    Use the index from the left DataFrame as the join key(s). If it is a
    MultiIndex, the number of keys in the other DataFrame (either the index
    or a number of columns) must match the number of levels.
right_index : bool, default False
    Use the index from the right DataFrame as the join key. Same caveats as
    left_index.
sort : bool, default False
    Sort the join keys lexicographically in the result DataFrame. If False,
    the order of the join keys depends on the join type (how keyword).
suffixes : list-like, default is ("_x", "_y")
    A length-2 sequence where each element is optionally a string
    indicating the suffix to add to overlapping column names in
    `left` and `right` respectively. Pass a value of `None` instead
    of a string to indicate that the column name from `left` or
    `right` should be left as-is, with no suffix. At least one of the
    values must not be None.
copy : bool, default True
    If False, avoid copy if possible.

    .. note::
        The `copy` keyword will change behavior in pandas 3.0.
        `Copy-on-Write
        <https://pandas.pydata.org/docs/dev/user_guide/copy_on_write.html>`__
        will be enabled by default, which means that all methods with a
        `copy` keyword will use a lazy copy mechanism to defer the copy and
        ignore the `copy` keyword. The `copy` keyword will be removed in a
        future version of pandas.

        You can already get the future behavior and improvements through
        enabling copy on write ``pd.options.mode.copy_on_write = True``
indicator : bool or str, default False
    If True, adds a column to the output DataFrame called "_merge" with
    information on the source of each row. The column can be given a different
    name by providing a string argument. The column will have a Categorical
    type with the value of "left_only" for observations whose merge key only
    appears in the left DataFrame, "right_only" for observations
    whose merge key only appears in the right DataFrame, and "both"
    if the observation's merge key is found in both DataFrames.

validate : str, optional
    If specified, checks if merge is of specified type.

    * "one_to_one" or "1:1": check if merge keys are unique in both
      left and right datasets.
    * "one_to_many" or "1:m": check if merge keys are unique in left
      dataset.
    * "many_to_one" or "m:1": check if merge keys are unique in right
      dataset.
    * "many_to_many" or "m:m": allowed, but does not result in checks.

Returns
-------
DataFrame
    A DataFrame of the two merged objects.

See Also
--------
merge_ordered : Merge with optional filling/interpolation.
merge_asof : Merge on nearest keys.
DataFrame.join : Similar method using indices.

Examples
--------
>>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [1, 2, 3, 5]})
>>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [5, 6, 7, 8]})
>>> df1
    lkey value
0   foo      1
1   bar      2
2   baz      3
3   foo      5
>>> df2
    rkey value
0   foo      5
1   bar      6
2   baz      7
3   foo      8

Merge df1 and df2 on the lkey and rkey columns. The value columns have
the default suffixes, _x and _y, appended.

>>> df1.merge(df2, left_on='lkey', right_on='rkey')
  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  bar        2  bar        6
3  baz        3  baz        7
4  foo        5  foo        5
5  foo        5  foo        8

Merge DataFrames df1 and df2 with specified left and right suffixes
appended to any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey',
...           suffixes=('_left', '_right'))
  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  bar           2  bar            6
3  baz           3  baz            7
4  foo           5  foo            5
5  foo           5  foo            8

Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
Traceback (most recent call last):
...
ValueError: columns overlap but no suffix specified:
    Index(['value'], dtype='object')

>>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
>>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
>>> df1
      a  b
0   foo  1
1   bar  2
>>> df2
      a  c
0   foo  3
1   baz  4

>>> df1.merge(df2, how='inner', on='a')
      a  b  c
0   foo  1  3

>>> df1.merge(df2, how='left', on='a')
      a  b  c
0   foo  1  3.0
1   bar  2  NaN

>>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
>>> df2 = pd.DataFrame({'right': [7, 8]})
>>> df1
    left
0   foo
1   bar
>>> df2
    right
0   7
1   8

>>> df1.merge(df2, how='cross')
   left  right
0   foo      7
1   foo      8
2   bar      7
3   bar      8
File:      c:\users\wamba\appdata\roaming\python\python312\site-packages\pandas\core\reshape\merge.py
Type:      function

In [80]:
# Second case: Merging DataFrames based on a common column
# Notez : Client 3 (Charlie) n'a PAS de commande.
df_clients = pd.DataFrame({
    'client_id': [1, 2, 3],
    'nom': ['Alice', 'Bob', 'Charlie']
})

# Table des Commandes
# Notez : Commande 105 a un client_id (99) qui n'existe PAS dans la table clients.
df_commandes = pd.DataFrame({
    'commande_id': [101, 102, 103, 104, 105],
    'client_id': [1, 1, 2, 1, 99], 
    'montant': [250, 100, 50, 300, 999]
})

print(f"Clients:\n{df_clients}\n")
print(f"Commandes:\n{df_commandes}\n")

Clients:
   client_id      nom
0          1    Alice
1          2      Bob
2          3  Charlie

Commandes:
   commande_id  client_id  montant
0          101          1      250
1          102          1      100
2          103          2       50
3          104          1      300
4          105         99      999

In [81]:
# --- A. INNER MERGE (L'Intersection) ---
# Garde SEULEMENT les clés présentes dans les DEUX tables.
# Charlie (3) disparaît car il n'a pas commandé.
# La commande 105 (99) disparaît car le client n'existe pas.
print("\n--- A. INNER JOIN (Intersection) ---")
merge_inner = pd.merge(df_commandes, df_clients, on='client_id', how='inner')
print(merge_inner)

# --- B. LEFT MERGE (Priorité à Gauche : Commandes) ---
# Garde TOUTES les commandes.
# Si le client n'est pas trouvé (commande 105), le nom sera NaN (vide).
print("\n--- B. LEFT JOIN (Tout de 'Commandes') ---")
merge_left = pd.merge(df_commandes, df_clients, on='client_id', how='left')
print(merge_left)

# --- C. RIGHT MERGE (Priorité à Droite : Clients) ---
# Garde TOUS les clients.
# Charlie (3) apparaît, même sans commande (montant sera NaN).
# La commande 105 disparaît car son client n'est pas dans la liste de droite.
print("\n--- C. RIGHT JOIN (Tout de 'Clients') ---")
merge_right = pd.merge(df_commandes, df_clients, on='client_id', how='right')
print(merge_right)

# --- D. OUTER MERGE (L'Union Complète) ---
# Garde TOUT le monde.
# Charlie est là. La commande orpheline 105 est là aussi.
# Personne n'est laissé pour compte.
print("\n--- D. OUTER JOIN (Union Totale) ---")
merge_outer = pd.merge(df_commandes, df_clients, on='client_id', how='outer')
print(merge_outer)

--- A. INNER JOIN (Intersection) ---
   commande_id  client_id  montant    nom
0          101          1      250  Alice
1          102          1      100  Alice
2          103          2       50    Bob
3          104          1      300  Alice

--- B. LEFT JOIN (Tout de 'Commandes') ---
   commande_id  client_id  montant    nom
0          101          1      250  Alice
1          102          1      100  Alice
2          103          2       50    Bob
3          104          1      300  Alice
4          105         99      999    NaN

--- C. RIGHT JOIN (Tout de 'Clients') ---
   commande_id  client_id  montant      nom
0        101.0          1    250.0    Alice
1        102.0          1    100.0    Alice
2        104.0          1    300.0    Alice
3        103.0          2     50.0      Bob
4          NaN          3      NaN  Charlie

--- D. OUTER JOIN (Union Totale) ---
   commande_id  client_id  montant      nom
0        101.0          1    250.0    Alice
1        102.0          1    100.0    Alice
2        104.0          1    300.0    Alice
3        103.0          2     50.0      Bob
4          NaN          3      NaN  Charlie
5        105.0         99    999.0      NaN

## Combining datasets

In [82]:
# old dataset
olpics_df.sample(5)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
21742,1996,Atlanta,Boxing,Boxing,"Doroftei, leonard dorin",ROU,Men,57 - 60kg (lightweight),M,Bronze
26976,2004,Athens,Shooting,Shooting,"Vella, adam",AUS,Men,Trap (125 targets),M,Bronze
2834,1920,Antwerp,Wrestling,Wrestling Gre-R,"Hansen, poul",DEN,Men,+ 82kg (super heavyweight),M,Silver
10910,1964,Tokyo,Sailing,Sailing,"O'donnell, peter joseph",AUS,Men,5.5m,X,Gold
18527,1988,Seoul,Weightlifting,Weightlifting,"Immesberger, peter",FRG,Men,"90 - 100kg, total (first-heavyweight)",M,Bronze

In [83]:
# new dataset
new_olpics_df = pd.read_csv("../python_foundations/csv_files/olympics_2008.csv")
new_olpics_df.sample(5)

,city,edition,sport,discipline,athlete,country_code,gender,event,event_gender,medal,result
650,Beijing,2008.0,baseball,Baseball,"RODRIGUEZ, Luis",CUB,Men,baseball,M,silver,2.0
187,Beijing,NaN,aquatics,Swimming,"JENDRICK, Megan",USA,Women,4x100m medley relay,W,silver,2.0
143,Beijing,2008.0,aquatics,Swimming,"SCHREUDER, Hinkelien",NED,Women,4x100m freestyle relay,W,gold,1.0
365,Beijing,2008.0,archery,Archery,"LI, Wenquan",CHN,Men,team (FITA Olympic round - 70m),M,bronze,3.0
1863,Beijing,2008.0,volleyball,Beach volley.,"TIAN, Jia",CHN,Women,beach volleyball,W,silver,2.0

In [84]:
old_df_cols = olpics_df.columns.to_list()
new_df_cols = new_olpics_df.columns.to_list()
print(f"Old Dataset Columns: {old_df_cols}\n")
print(f"New Dataset Columns: {new_df_cols}\n")

Old Dataset Columns: ['Year', 'City', 'Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender', 'Event', 'Event_Gender', 'Medal']

New Dataset Columns: ['city', 'edition', 'sport', 'discipline', 'athlete', 'country_code', 'gender', 'event', 'event_gender', 'medal', 'result']

In [85]:
# Renaming columns in the new dataset to match the old dataset
column_mapper = {
    "athlete" : "Athlete_Name",
    "city" : "City",
    "edition": "Year",
    "sport" : "Sport",
    "discipline" : "Discipline",
    "country_code" : "NOC",
    "gender" : "Gender",
    "event" : "Event",
    "event_gender" : "Event_Gender",
    "medal" : "Medal",
    "result" : "Result"
}

new_olpics_df = new_olpics_df.rename(columns=column_mapper)
print(f"Renamed New Dataset Columns: {new_olpics_df.columns.to_list()}\n")

Renamed New Dataset Columns: ['City', 'Year', 'Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender', 'Event', 'Event_Gender', 'Medal', 'Result']

In [86]:
# checking for any missing columns in the new dataset
missing_cols = set(olpics_df.columns) - set(new_olpics_df.columns)
print(f"Missing Columns in New Dataset: {missing_cols}\n")

Missing Columns in New Dataset: set()

In [87]:
new_olpics_df = new_olpics_df.rename(columns={"Athele_Name": "Athlete_Name"})
print(f"Renamed New Dataset Columns: {new_olpics_df.columns.to_list()}\n")
new_olpics_df.sample(5)

Renamed New Dataset Columns: ['City', 'Year', 'Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender', 'Event', 'Event_Gender', 'Medal', 'Result']

,City,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Result
2019,Beijing,2008.0,wrestling,Wrestling Free.,"GOGSHELIDZE, George",GEO,Men,84 - 96kg,M,bronze,3.0
145,Beijing,2008.0,aquatics,Swimming,"VELDHUIS, Marleen",NED,Women,4x100m freestyle relay,W,gold,1.0
1053,Beijing,2008.0,football,Football,"BANEGA, Ever",ARG,Men,football,M,gold,1.0
171,Beijing,2008.0,aquatics,Swimming,"TARGETT, Matt",AUS,Men,4x100m medley relay,M,silver,2.0
788,Beijing,2008.0,canoe / kayak,Canoe / Kayak F,"ULEGIN, Sergey",RUS,Men,C-2 500m (canoe double),M,silver,2.0

In [88]:
# checking the data types of both datasets
print(f"Data Types in Old Dataset:\n{olpics_df.dtypes}\n")
print(f"Data Types in New Dataset:\n{new_olpics_df.dtypes}\n")

Data Types in Old Dataset:
Year                     int64
City            string[python]
Sport           string[python]
Discipline      string[python]
Athlete_Name    string[python]
NOC             string[python]
Gender                category
Event           string[python]
Event_Gender          category
Medal                 category
dtype: object

Data Types in New Dataset:
City             object
Year            float64
Sport            object
Discipline       object
Athlete_Name     object
NOC              object
Gender           object
Event            object
Event_Gender     object
Medal            object
Result          float64
dtype: object

In [89]:
# Doing some preprocessing to ensure both datasets have the same structure
# Step 1: Checking the unnecessary columns in the new dataset
unnecessary_cols = set(new_olpics_df.columns) - set(olpics_df.columns)
print(f"Unnecessary Columns in New Dataset: {unnecessary_cols}\n")
print(new_olpics_df["Result"].unique())

Unnecessary Columns in New Dataset: {'Result'}

[ 3.  1.  2. nan]

In [90]:
# Deleting the unnecessary column
new_olpics_df = new_olpics_df.drop(columns=list(unnecessary_cols))
new_olpics_df.columns.to_list()

['City',
 'Year',
 'Sport',
 'Discipline',
 'Athlete_Name',
 'NOC',
 'Gender',
 'Event',
 'Event_Gender',
 'Medal']

In [91]:
# Step 2: checking for null, missing, or inconsistent values in both datasets
new_olpics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          2033 non-null   object
 1   Year          2025 non-null   float64
 2   Sport         2048 non-null   object
 3   Discipline    2048 non-null   object
 4   Athlete_Name  2048 non-null   object
 5   NOC           2048 non-null   object
 6   Gender        2048 non-null   object
 7   Event         2048 non-null   object
 8   Event_Gender  2048 non-null   object
 9   Medal         2048 non-null   object
dtypes: float64(1), object(9)
memory usage: 161.0+ KB

## Working with missing data

In [92]:
pd.isna?

Signature: pd.isna(obj: 'object') -> 'bool | npt.NDArray[np.bool_] | NDFrame'
Docstring:
Detect missing values for an array-like object.

This function takes a scalar or array-like object and indicates
whether values are missing (``NaN`` in numeric arrays, ``None`` or ``NaN``
in object arrays, ``NaT`` in datetimelike).

Parameters
----------
obj : scalar or array-like
    Object to check for null or missing values.

Returns
-------
bool or array-like of bool
    For scalar input, returns a scalar boolean.
    For array input, returns an array of boolean indicating whether each
    corresponding element is missing.

See Also
--------
notna : Boolean inverse of pandas.isna.
Series.isna : Detect missing values in a Series.
DataFrame.isna : Detect missing values in a DataFrame.
Index.isna : Detect missing values in an Index.

Examples
--------
Scalar arguments (including strings) result in a scalar boolean.

>>> pd.isna('dog')
False

>>> pd.isna(pd.NA)
True

>>> pd.isna(np.nan)
True

ndarrays result in an ndarray of booleans.

>>> array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
>>> array
array([[ 1., nan,  3.],
       [ 4.,  5., nan]])
>>> pd.isna(array)
array([[False,  True, False],
       [False, False,  True]])

For indexes, an ndarray of booleans is returned.

>>> index = pd.DatetimeIndex(["2017-07-05", "2017-07-06", None,
...                           "2017-07-08"])
>>> index
DatetimeIndex(['2017-07-05', '2017-07-06', 'NaT', '2017-07-08'],
              dtype='datetime64[ns]', freq=None)
>>> pd.isna(index)
array([False, False,  True, False])

For Series and DataFrame, the same type is returned, containing booleans.

>>> df = pd.DataFrame([['ant', 'bee', 'cat'], ['dog', None, 'fly']])
>>> df
     0     1    2
0  ant   bee  cat
1  dog  None  fly
>>> pd.isna(df)
       0      1      2
0  False  False  False
1  False   True  False

>>> pd.isna(df[1])
0    False
1     True
Name: 1, dtype: bool
File:      c:\users\wamba\appdata\roaming\python\python312\site-packages\pandas\core\dtypes\missing.py
Type:      function

In [93]:
# checking for any missing data
new_olpics_df.isnull().sum()

City            26
Year            34
Sport           11
Discipline      11
Athlete_Name    11
NOC             11
Gender          11
Event           11
Event_Gender    11
Medal           11
dtype: int64

In [94]:
# see the rows with missing data in the city column
new_olpics_df[new_olpics_df["City"].isna()]

,City,Year,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
17,NaN,2008.0,aquatics,Diving,"KLEIN, Sascha",GER,Men,synchronized diving 10m platform,M,silver
25,NaN,2008.0,aquatics,Diving,"PRYGOROV, Oleksiy",UKR,Men,synchronized diving 3m springboard,M,bronze
83,NaN,2008.0,aquatics,Swimming,"NORDENSTAM, Sara",NOR,Women,200m breaststroke,W,bronze
133,NaN,2008.0,aquatics,Swimming,"MALLET, Gregory",FRA,Men,4x100m freestyle relay,M,silver
199,NaN,2008.0,aquatics,Swimming,"KELLER, Klete",USA,Men,4x200m freestyle relay,M,gold
364,NaN,2008.0,archery,Archery,"JIANG, Lin",CHN,Men,team (FITA Olympic round - 70m),M,bronze
372,NaN,2008.0,archery,Archery,"NESPOLI, Mauro",ITA,Men,team (FITA Olympic round - 70m),M,silver
531,NaN,2008.0,athletics,Athletics,"MOKOENA, Khotso",RSA,Men,long jump,M,silver
640,NaN,2008.0,baseball,Baseball,"MARTINEZ, Jonder",CUB,Men,baseball,M,silver
660,NaN,2008.0,basketball,Basketball,"KAMMERICHS, Guillermo Federico",ARG,Men,basketball,M,bronze
701,NaN,2008.0,basketball,Basketball,"STEPANOVA, Maria",RUS,Women,basketball,W,bronze
785,NaN,2008.0,canoe / kayak,Canoe / Kayak F,"MENG, Guanliang",CHN,Men,C-2 500m (canoe double),M,gold
895,NaN,2008.0,cycling,Cycling Track,"MEARES, Anna",AUS,Women,sprint,W,silver
938,NaN,2008.0,equestrian,Eventing,"ROMEIKE, Hinrich",GER,Men,individual,X,gold
1036,NaN,2008.0,football,Football,BRENO,BRA,Men,football,M,bronze
1183,NaN,2008.0,gymnastics,Artistic G.,"SAKAMOTO, Koki",JPN,Men,team competition,M,silver
1411,NaN,2008.0,hockey,Hockey,"GAO, Lihua",CHN,Women,hockey,W,silver
1505,NaN,2008.0,rowing,Rowing,"COPPOLA, Steven",USA,Men,eight with coxswain (8+),M,bronze
1515,NaN,2008.0,rowing,Rowing,"KREEK, Adam",CAN,Men,eight with coxswain (8+),M,gold
1690,NaN,2008.0,shooting,Shooting,"EMMONS, Katerina",CZE,Women,10m air rifle (40 shots),W,gold
1700,NaN,2008.0,shooting,Shooting,"SCHUMANN, Ralf",GER,Men,25m rapid fire pistol (60 shots),M,silver
1819,NaN,2008.0,taekwondo,Taekwondo,"HWANG, Kyung Sun",KOR,Women,57 - 67 kg,W,gold
1845,NaN,2008.0,tennis,Tennis,"DEMENTIEVA, Elena",RUS,Women,singles,W,gold
1853,NaN,2008.0,volleyball,Beach volley.,"REGO, Emanuel",BRA,Men,beach volleyball,M,bronze
1913,NaN,NaN,volleyball,Volleyball,"ALBUQUERQUE, Carolina",BRA,Women,volleyball,W,gold
1995,NaN,2008.0,wrestling,Wrestling Free.,"YUMOTO, Kenichi",JPN,Men,55 - 60kg,M,bronze