In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\wamba\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\wamba\appdata\roaming\python\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wamba\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\wamba\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\wamba\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\wamba\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

## Importation de la librairie

In [3]:
import pandas as pd

## Vérification de la version de Pandas

In [4]:
version_de_pd = pd.__version__
print(f"version actuelle de Pandas: {version_de_pd}")

version actuelle de Pandas: 2.2.3

## Route vers les fichiers

In [20]:
file_path = "../python_foundations/csv_files/Sales_April_2019.csv"
file_path_2 = "../python_foundations/csv_files/employees.csv"

## Création d'un DataFrame simple

In [21]:
df = pd.read_csv(file_path) 
df_employees = pd.read_csv(file_path_2)

## Aperçu des 05 première lignes

In [7]:
print(df.head(5).to_string())

  Order ID                     Product Quantity Ordered Price Each      Order Date                      Purchase Address
0   176558        USB-C Charging Cable                2      11.95  04/19/19 08:46          917 1st St, Dallas, TX 75001
1      NaN                         NaN              NaN        NaN             NaN                                   NaN
2   176559  Bose SoundSport Headphones                1      99.99  04/07/19 22:30     682 Chestnut St, Boston, MA 02215
3   176560                Google Phone                1        600  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001
4   176560            Wired Headphones                1      11.99  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001

## Localisation d'un ligne spécifique

In [8]:
row_index = 3
ligne_specifique = df.iloc[row_index]
print(f"\nLigne à l'index {row_index}:\n{ligne_specifique}")

Ligne à l'index 3:
Order ID                                          176560
Product                                     Google Phone
Quantity Ordered                                       1
Price Each                                           600
Order Date                                04/12/19 14:38
Purchase Address    669 Spruce St, Los Angeles, CA 90001
Name: 3, dtype: object

## Affichage sur une intervale de lignes

In [9]:
print(f"\nLignes de l'index 2 à 5:\n{df.iloc[2:5].to_string()}")

Lignes de l'index 2 à 5:
  Order ID                     Product Quantity Ordered Price Each      Order Date                      Purchase Address
2   176559  Bose SoundSport Headphones                1      99.99  04/07/19 22:30     682 Chestnut St, Boston, MA 02215
3   176560                Google Phone                1        600  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001
4   176560            Wired Headphones                1      11.99  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001

## Afficher les 3 dernières lignes

In [10]:
print(df.tail())

      Order ID                   Product Quantity Ordered Price Each  \
18378   194090              Google Phone                1        600
18379   194091     AA Batteries (4-pack)                1       3.84
18380   194092    AAA Batteries (4-pack)                2       2.99
18381   194093     AA Batteries (4-pack)                1       3.84
18382   194094  Lightning Charging Cable                1      14.95

           Order Date                        Purchase Address
18378  04/08/19 17:11   177 Jackson St, Los Angeles, CA 90001
18379  04/15/19 16:02         311 Forest St, Austin, TX 73301
18380  04/28/19 14:36  347 Sunset St, San Francisco, CA 94016
18381  04/14/19 15:09         835 Lake St, Portland, OR 97035
18382  04/18/19 11:08          354 North St, Boston, MA 02215

## Obtenir un résumé structurel

- df.info() est LA commande la plus utile au début.
- Elle donne :
- 1. Le nombre de lignes et de colonnes.
- 2. Le nom de chaque colonne.
- 3. Le nombre de valeurs non-nulles (non-vides) par colonne.
- 4. Le type de données (Dtype) de chaque colonne (object = texte, int64, float64, etc.)

In [11]:
informations = df.info()
print(f"\nInformations sur le DataFrame:\n{informations}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18383 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18324 non-null  object
 1   Product           18324 non-null  object
 2   Quantity Ordered  18324 non-null  object
 3   Price Each        18324 non-null  object
 4   Order Date        18324 non-null  object
 5   Purchase Address  18324 non-null  object
dtypes: object(6)
memory usage: 861.8+ KB

Informations sur le DataFrame:
None

## Obtenir un résumé statistique

In [12]:
description = (df.describe()).to_string()
print(f"\nDescription statistique des données:\n{description}")

Description statistique des données:
        Order ID                   Product Quantity Ordered Price Each  Order Date  Purchase Address
count      18324                     18324            18324      18324       18324             18324
unique     17538                        20                8         19       13584             17120
top     Order ID  Lightning Charging Cable                1      14.95  Order Date  Purchase Address
freq          35                      2201            16558       2201          35                35

## Obtenir les dimensions (lignes, colonnes)

In [28]:
print(df.shape)

(18383, 6)

## Obtenir la liste des noms de colonnes

In [29]:
liste_colonnes = df.columns.to_list()
print(f"Colonnes de mon DataFrame: {liste_colonnes}")

Colonnes de mon DataFrame: ['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']

## Obtenir les types de données

In [23]:
types_de_donnees = df.dtypes
print(f"Typas de données dans mon DataFrame: {types_de_donnees}")

Typas de données dans mon DataFrame: Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

## Analyser une colonne spécifique (catégorielle)

In [32]:
print(df["Product"].value_counts())

Product
Lightning Charging Cable      2201
USB-C Charging Cable          2079
AA Batteries (4-pack)         2063
AAA Batteries (4-pack)        1989
Wired Headphones              1890
Apple Airpods Headphones      1515
Bose SoundSport Headphones    1280
27in FHD Monitor               734
iPhone                         693
34in Ultrawide Monitor         650
Google Phone                   581
27in 4K Gaming Monitor         563
Flatscreen TV                  458
Macbook Pro Laptop             453
ThinkPad Laptop                392
20in Monitor                   390
Vareebadd Phone                220
LG Dryer                        77
LG Washing Machine              61
Product                         35
Name: count, dtype: int64

## Pour voir le nombre et la liste de valeurs uniques d'une colonne.

In [ ]:
nombre_de_valuers_uniques = df["Product"].nunique()
liste_de_valeurs_uniques = df["Product"].unique()

print(f"Nombre et liste de Produits unique: {nombre_de_valuers_uniques} et \n{liste_de_valeurs_uniques}")

Nombre et liste de Produits unique: 20 et
['USB-C Charging Cable' nan 'Bose SoundSport Headphones' 'Google Phone'
 'Wired Headphones' 'Macbook Pro Laptop' 'Lightning Charging Cable'
 '27in 4K Gaming Monitor' 'AA Batteries (4-pack)'
 'Apple Airpods Headphones' 'AAA Batteries (4-pack)' 'iPhone'
 'Flatscreen TV' '27in FHD Monitor' '20in Monitor' 'LG Dryer'
 'ThinkPad Laptop' 'Vareebadd Phone' 'LG Washing Machine'
 '34in Ultrawide Monitor' 'Product']

## Gérer les valeurs manquantes (NaN, NaT, None)

## Compter le nombre de valeurs manquantes par colonne

In [13]:
nombre_de_valeurs_manquantes = df.isnull().sum()
print(nombre_de_valeurs_manquantes)

Order ID            59
Product             59
Quantity Ordered    59
Price Each          59
Order Date          59
Purchase Address    59
dtype: int64

## Stratégie 1 : Supprimer les lignes avec des valeurs manquantes
```python

# df.dropna() supprime TOUTE ligne contenant au moins UN NaN.
# C'est simple mais on perd des données.
df_sans_nan = df.dropna()
# print(df_sans_nan.isnull().sum()) # Afficherait 0 partout

```

## Stratégie 2 : Remplir les valeurs manquantes (souvent mieux)
> .fillna() est mon meilleur ami pour cela

In [17]:
# Remplir le 'Product' manquant par "Inconnu"
df["Product"] = df["Product"].fillna("Inconnu")

## Remplir les valeurs manquantes dans 'Quantity Ordered' et 'Price Each' par la moyenne de leurs colonnes respectives

- 'pd.to_numeric' est l'outil parfait.
- 'errors='coerce'' est la clé : il transforme tout ce qu'il ne peut pas convertir (ex: "erreur", "N/A") en 'NaN' (Not a Number).

In [24]:
# conversion des colonnes en numérique (analyse invalide -> NaN), calcul des moyennes, puis rempl
quantite_commande_num = pd.to_numeric(df["Quantity Ordered"], errors="coerce")
prix_num = pd.to_numeric(df["Price Each"], errors="coerce")

quantite_commande_moyenne = quantite_commande_num.mean()
prix_moyen = prix_num.mean()

# Remplir les valeurs manquantes dans 'Quantity Ordered' et 'Price Each' par la moyenne de leurs colonnes respectives
df["Quantity Ordered"] = quantite_commande_num.fillna(quantite_commande_moyenne).round().astype(int) # arrondi et conversion en int
df["Price Each"] = prix_num.fillna(prix_moyen)

## Valeurs manquentes après le nettoyage

In [25]:
print("\nValeurs manquentes après le nettoyage:")
print(df.isnull().sum())

Valeurs manquentes après le nettoyage:
Order ID            59
Product             59
Quantity Ordered     0
Price Each           0
Order Date          59
Purchase Address    59
dtype: int64

## Supprimer une colonne

In [ ]:
# df = df.drop(columns=["Order Date"])

## Compter les lignes dupliquées

In [26]:
lignes_dupliquees = df.duplicated().sum()
print(f"\nNombre de lignes dupliquées dans le DataFrame: {lignes_dupliquees}")

Nombre de lignes dupliquées dans le DataFrame: 114

## Supprimer les doublons. A noter que `keep=first` (defaut) garde la première  occurence.

In [28]:
df = df.drop_duplicates(keep='first')
print(f"\nNombre de lignes après suppression des doublons:{df.duplicated().sum()}")

Nombre de lignes après suppression des doublons:0

## Corriger le type de données.

## Bon, df.info() nous montre que "Order Date" est un "objet" plus precisement "text"

In [29]:
df["Order Date"] = pd.to_datetime(df["Order Date"], errors="coerce")
print(f"\nTypes de données après correction:\n{df.dtypes}")

C:\Users\wamba\AppData\Local\Temp\ipykernel_19660\3646102425.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Order Date"] = pd.to_datetime(df["Order Date"], errors="coerce")

Types de données après correction:
Order ID                    object
Product                     object
Quantity Ordered             int32
Price Each                 float64
Order Date          datetime64[ns]
Purchase Address            object
dtype: object

## Changer le type d'une colonne. Par exemple de float à int

In [30]:
df_example = pd.DataFrame(
    {
        "Name": ["Alice", "Bob", "Charlie"],
        "Age": [25.0, 30.0, 35.0],
    }
)
print(df_example.info())    
df_example["Age"] = df_example["Age"].astype(int)
print(f"\nDataFrame après changement de type:\n{df_example}")
print(df_example.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      float64
dtypes: float64(1), object(1)
memory usage: 180.0+ bytes
None

DataFrame après changement de type:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int32
dtypes: int32(1), object(1)
memory usage: 168.0+ bytes
None

## NOTE IMPORTANTE SUR info() vs describe()

> En résumé : info() regarde la STRUCTURE, tandis que describe() regarde le CONTENU.

*Voici la différence détaillée :*

**1. df.info() : La Carte d'Identité**

C'est une analyse technique. Elle ne regarde pas vraiment les valeurs à l'intérieur, mais plutôt comment le tableau est construit en mémoire.

Ce qu'elle affiche :

- Le nombre de lignes et de colonnes.
    
- Le nom de chaque colonne.

- Le type de données (Dtype) de chaque colonne (est-ce du texte object, des entiers int64, des décimaux float64 ?).

- Le nombre de valeurs non-nulles (très utile pour repérer les trous dans les données).

- La quantité de mémoire vive (RAM) utilisée par le DataFrame.

*Quand l'utiliser : Dès le chargement du fichier, pour vérifier que les dates ne sont pas en texte, ou pour voir s'il manque beaucoup de données.*

**2. df.describe() : Le Bilan de Santé**

C'est une analyse statistique. Elle plonge dans les valeurs numériques pour vous donner une idée de leur distribution.

Ce qu'elle affiche (par défaut sur les colonnes numériques) :

- count : Nombre d'enregistrements.

- mean : La moyenne.

- std : L'écart-type (la dispersion des données). 
- min / max : Les valeurs minimales et maximales.

- 25% / 50% / 75% : Les quartiles (le 50% est la médiane).

*Quand l'utiliser : Pour comprendre l'ordre de grandeur de vos données. (Exemple : "Quel est le salaire moyen ?", "Est-ce qu'il y a des prix négatifs aberrants ?", "Est-ce que les âges sont bien compris entre 18 et 99 ?").*