# Pandas Essential Training

## Installing Pandas

In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\wamba\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\wamba\appdata\roaming\python\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wamba\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\wamba\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\wamba\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\wamba\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

## Importing Pandas

In [2]:
import pandas as pd

## Checking the Version of Pandas

In [3]:
pd.__version__

'2.2.3'

## Gettiing the list of available functions and attributes

In [4]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

## Reading tabular data into DataFrame

In [5]:
file_path = "../python_foundations/csv_files/olympics_1896_2004.csv"

olpics_df = pd.read_csv(file_path)
olpics_df

,"This is a list of medallists at the Summer Olympic Games (1896-2004) with details of the year of the olympics, city, sport, discipline, athlete name, gender, event and medal",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"DISCLAIMER: No guarantees, express or implied,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
...,...,...,...,...,...,...,...,...,...,...,...
27174,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27175,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27176,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27177,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27178,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

## Skipping rows while reading a CSV file (the first 5 rows, since they contain metadata)

In [8]:
olpics_df = pd.read_csv(file_path, skiprows=5)
olpics_df

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
...,...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

## Dimensions of the DataFrame

In [9]:
olpics_df.shape

(27174, 11)

## Displaying the first and last rows of the DataFrame

In [12]:
olpics_df.head()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

In [13]:
olpics_df.tail()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

## Obtain a random sample of rows from a DataFrame.

> This can be useful when you want to quickly inspect a large dataset without loading the entire dataset into memory.

In [20]:
olpics_df.sample(5)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
8207,1952,Helsinki,Athletics,Athletics,"ROKA, Antal",HUN,Men,50km walk,M,Bronze,3
24248,2000,Sydney,Fencing,Fencing,"MROCZKIEWICZ, Magdalena",POL,Women,foil team,W,Silver,2
24262,2000,Sydney,Football,Football,"ORMAZABAL, Patricio",CHI,Men,football,M,Bronze,3
20755,1992,Barcelona,Handball,Handball,"EFTEDAL, Siri",NOR,Women,handball,W,Silver,2
26416,2004,Athens,Handball,Handball,"METLICIC, Petar",CRO,Men,handball,M,Gold,1

## Observing basic statistical details like percentile, mean, std etc.

In [19]:
olpics_df.describe()
# since we only have 2 numerical colonnes, here is the solution.

               Year      Position
count  27174.000000  27174.000000
mean    1964.685803      1.992566
std       31.590396      0.817469
min     1896.000000      1.000000
25%     1936.000000      1.000000
50%     1972.000000      2.000000
75%     1992.000000      3.000000
max     2004.000000      3.000000

## Obtain concise summary of a DataFrame

In [17]:
olpics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27174 entries, 0 to 27173
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27174 non-null  int64
 1   City          27174 non-null  object
 2   Sport         27174 non-null  object
 3   Discipline    27174 non-null  object
 4   Athlete Name  27174 non-null  object
 5   NOC           27174 non-null  object
 6   Gender        27174 non-null  object
 7   Event         27174 non-null  object
 8   Event Gender  27174 non-null  object
 9   Medal         27174 non-null  object
 10  Position      27174 non-null  int64
dtypes: int64(2), object(9)
memory usage: 2.3+ MB

In [22]:
pd.set_option("display.max_rows", 60)
olpics_df

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
...,...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

> Anytime, when the column name has a space i will neeed to use the [""] notation to accesst it.

example:
olpics_df["City"] can also be written as `olpics_df.City`, but if the column name has a space like "Medal Count", then you have to use `olpics_df["Medal Count"]`

## Obtain uniuque values of a column

In [ ]:
olpics_df.City.unique() 
# OR olpicc_df["City"].unique()

array(['Athens', 'Paris', 'St Louis', 'London', 'Stockholm', 'Antwerp',
       'Amsterdam', 'Los Angeles', 'Berlin', 'Helsinki',
       'Melbourne / Stockholm', 'Rome', 'Tokyo', 'Mexico', 'Munich',
       'Montreal', 'Moscow', 'Seoul', 'Barcelona', 'Atlanta', 'Sydney'],
      dtype=object)

In [29]:
olpics_df.Sport.unique()
# OR olpicc_df["Sport"].unique()

array(['Cycling', 'Athletics', 'Aquatics', 'Shooting', 'Tennis',
       'Fencing', 'Weightlifting', 'Gymnastics', 'Wrestling', 'Sailing',
       'Archery', 'Basque Pelota', 'Cricket', 'Croquet', 'Rowing',
       'Football', 'Equestrian', 'Golf', 'Polo', 'Rugby', 'Tug of War',
       'Boxing', 'Roque', 'Lacrosse', 'Water Motorsports', 'Rackets',
       'Hockey', 'Jeu de paume', 'Skating', 'Modern Pentathlon',
       'Ice Hockey', 'Canoe / Kayak', 'Basketball', 'Handball', 'Judo',
       'Volleyball', 'Table Tennis', 'Baseball', 'Badminton', 'Softball',
       'Taekwondo', 'Triathlon'], dtype=object)

## Count the number of occurrences of each unique value in a column

In [31]:
olpics_df["Year"].value_counts()

Year
2000    2015
2004    1998
1996    1859
1992    1705
1988    1546
1984    1459
1980    1387
1976    1305
1920    1298
1972    1185
1968    1031
1964    1010
1952     889
1956     885
1912     885
1924     884
1960     882
1936     875
1948     814
1908     804
1928     710
1932     615
1900     512
1904     470
1896     151
Name: count, dtype: int64

## Answering questions about the data

In [ ]:
# What's the time range convered in the dataset ?
min_date = olpics_df["Year"].min()
max_date = olpics_df["Year"].max()

f"The time ranges from {min_date} et {max_date}"

'The time ranges from 1896 et 2004'

In [59]:
# The Olympics take place every fours years. Why are there missing years?
"Because WWI from 1914 - 1918 and WWII from 1939 - 1945"

'Because WWI from 1914 - 1918 and WWII from 1939 - 1945'

In [54]:
# What are the type of medals awarded ?
olpics_df["Medal"].unique().tolist()

['Gold', 'Silver', 'Bronze']

In [42]:
# Across all of the Olympic Games, how many gold, silver, and bronze medals have been there?
olpics_df["Medal"].value_counts()

Medal
Gold      9181
Silver    9014
Bronze    8979
Name: count, dtype: int64

In [ ]:
# Why are there not an equel number of gold, silver, and bronze medals ?
olpics_df["Position"].value_counts()

Position
1    9181
2    9014
3    8979
Name: count, dtype: int64

In [ ]:
# There are more gold medals than silver and more silver than bronze. Why might that be ?
olpics_df["Position"].value_counts()

Position
1    9181
2    9014
3    8979
Name: count, dtype: int64

In [60]:
# what are the different Notional Olympic Committees (NOCs) ?
olpics_df["NOC"].unique()

array(['FRA', 'GRE', 'USA', 'HUN', 'GER', 'AUT', 'GBR', 'AUS', 'DEN',
       'ZZX', 'SUI', 'IND', 'NED', 'CAN', 'NOR', 'BEL', 'ESP', 'BOH',
       'ITA', 'SWE', 'CUB', 'RU1', 'FIN', 'RSA', 'ANZ', 'LUX', 'EST',
       'BRA', 'JPN', 'TCH', 'NZL', 'ARG', 'HAI', 'POL', 'URU', 'YUG',
       'ROU', 'POR', 'EGY', 'PHI', 'IRL', 'CHI', 'MEX', 'LAT', 'TUR',
       'KOR', 'PAN', 'JAM', 'SRI', 'PER', 'PUR', 'IRI', 'TRI', 'URS',
       'LIB', 'BUL', 'VEN', 'EUA', 'PAK', 'ISL', 'BAH', 'BWI', 'GHA',
       'IRQ', 'SIN', 'TPE', 'ETH', 'MAR', 'TUN', 'NGR', 'KEN', 'FRG',
       'MGL', 'GDR', 'UGA', 'CMR', 'PRK', 'COL', 'NIG', 'BER', 'THA',
       'TAN', 'GUY', 'ZIM', 'ZAM', 'CHN', 'CIV', 'DOM', 'ALG', 'SYR',
       'SUR', 'CRC', 'SEN', 'AHO', 'DJI', 'ISV', 'INA', 'EUN', 'NAM',
       'IOP', 'QAT', 'ISR', 'LTU', 'CRO', 'SLO', 'MAS', 'RUS', 'UKR',
       'TGA', 'ARM', 'BLR', 'MDA', 'ECU', 'KAZ', 'AZE', 'BDI', 'SVK',
       'CZE', 'UZB', 'GEO', 'MOZ', 'HKG', 'KGZ', 'BAR', 'KSA', 'VIE',
       'MKD', 'KUW', 'ERI', 'SCG', 'UAE', 'PAR'], dtype=object)

In [61]:
# What does the NOC "ZZX" represent ?
"The mixed team"

'The mixed team'

## Renaming columns in a DataFrame

In [62]:
olpics_df.columns.to_list()

['Year',
 'City',
 'Sport',
 'Discipline',
 'Athlete Name',
 'NOC',
 'Gender',
 'Event',
 'Event Gender',
 'Medal',
 'Position']

In [68]:
mapper = {
    "Athlete Name" : "Athlete_Name",
    "Event Gender" : "Event_Gender"
}
olpics_df.rename(columns=mapper)
# now to apply it to our dataframe
olpics_df = olpics_df.rename(columns=mapper)
olpics_df.columns.to_list()

['Year',
 'City',
 'Sport',
 'Discipline',
 'Athlete_Name',
 'NOC',
 'Gender',
 'Event',
 'Event_Gender',
 'Medal',
 'Position']

## Drop columns in a DataFrame

> In pandas, the `drop` method is used to remove specified labels from rows or columns of a DataFrame. When you want to drop columns, you need to specify the `axis` parameter as `1` (or `'columns'`) to indicate that you are dropping columns rather than rows.

In [69]:
# Droping the position column, sicnce we already have the Medal column
olpics_df = olpics_df.drop(columns=["Position"])
olpics_df.columns.to_list()

['Year',
 'City',
 'Sport',
 'Discipline',
 'Athlete_Name',
 'NOC',
 'Gender',
 'Event',
 'Event_Gender',
 'Medal']

In [70]:
olpics_df.sample(5)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
16324,1980,Moscow,Fencing,Fencing,"KROVOPUSKOV, Viktor",URS,Men,sabre team,M,Gold
26582,2004,Athens,Hockey,Hockey,"SNOEKS, Jiske",NED,Women,hockey,W,Silver
1936,1908,London,Fencing,Fencing,"MONTGOMERIE, Robert Cecil",GBR,Men,épée team,M,Silver
12389,1968,Mexico,Hockey,Hockey,"DEARING, Paul",AUS,Men,hockey,M,Silver
20925,1992,Barcelona,Athletics,Athletics,"MOLLER, Lorraine Mary",NZL,Women,marathon,W,Bronze

## Filstering rows based on a condition (single condition)

In [72]:
# filtering dataset based on the year 2000
olpics_df[olpics_df["Year"] == 2000]

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
23161,2000,Sydney,Judo,Judo,"PERTELSON, Indrek",EST,Men,+ 100kg (heavyweight),M,Bronze
23162,2000,Sydney,Judo,Judo,"TMENOV, Tamerlan",RUS,Men,+ 100kg (heavyweight),M,Bronze
23163,2000,Sydney,Judo,Judo,"DOUILLET, David",FRA,Men,+ 100kg (heavyweight),M,Gold
23164,2000,Sydney,Judo,Judo,"SHINOHARA, Shinichi",JPN,Men,+ 100kg (heavyweight),M,Silver
23165,2000,Sydney,Weightlifting,Weightlifting,"CHEMERKIN, Andrey",RUS,Men,+ 105kg,M,Bronze
...,...,...,...,...,...,...,...,...,...,...
25171,2000,Sydney,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold
25172,2000,Sydney,Fencing,Fencing,"MAZINA, Mariya",RUS,Women,épée team,W,Gold
25173,2000,Sydney,Fencing,Fencing,"BUERKI, Gianna",SUI,Women,épée team,W,Silver
25174,2000,Sydney,Fencing,Fencing,"LAMON, Sophie",SUI,Women,épée team,W,Silver
25175,2000,Sydney,Fencing,Fencing,"ROMAGNOLI, Diana",SUI,Women,épée team,W,Silver

In [73]:
# Filtering the dataset baded on the sport "Gymnastics"
olpics_df[olpics_df["Sport"] == "Gymnastics"]

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
77,1896,Athens,Gymnastics,Artistic G.,"WEINGÄRTNER, Hermann",GER,Men,horizontal bar,M,Gold
78,1896,Athens,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,horizontal bar,M,Silver
91,1896,Athens,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,parallel bars,M,Gold
92,1896,Athens,Gymnastics,Artistic G.,"ZUTTER, Louis",SUI,Men,parallel bars,M,Silver
97,1896,Athens,Gymnastics,Artistic G.,"ZUTTER, Louis",SUI,Men,pommel horse,M,Gold
...,...,...,...,...,...,...,...,...,...,...
26992,2004,Athens,Gymnastics,Artistic G.,"DEFERR, Gervasio",ESP,Men,vault,M,Gold
26993,2004,Athens,Gymnastics,Artistic G.,"SAPRONENKO, Evgeni",LAT,Men,vault,M,Silver
26994,2004,Athens,Gymnastics,Artistic G.,"PAVLOVA, Anna",RUS,Women,vault,W,Bronze
26995,2004,Athens,Gymnastics,Artistic G.,"ROSU, Monica",ROU,Women,vault,W,Gold
26996,2004,Athens,Gymnastics,Artistic G.,"HATCH, Annia",USA,Women,vault,W,Silver

## Filtering rows based on multiple conditions

In [74]:
# Obtaining all the gold medals won in the year 2000
olpics_df[(olpics_df["Year"] == 2000) & (olpics_df["Medal"] == "Gold")]

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
23163,2000,Sydney,Judo,Judo,"DOUILLET, David",FRA,Men,+ 100kg (heavyweight),M,Gold
23166,2000,Sydney,Weightlifting,Weightlifting,"REZA ZADEH, Hossein",IRI,Men,+ 105kg,M,Gold
23169,2000,Sydney,Taekwondo,Taekwondo,"CHEN, Zhong",CHN,Women,+ 67 kg,W,Gold
23172,2000,Sydney,Weightlifting,Weightlifting,"DING, Meiyuan",CHN,Women,+ 75kg,W,Gold
23176,2000,Sydney,Judo,Judo,"YUAN, Hua",CHN,Women,+ 78kg (heavyweight),W,Gold
...,...,...,...,...,...,...,...,...,...,...
25162,2000,Sydney,Fencing,Fencing,"ROTA, Alfredo",ITA,Men,épée team,M,Gold
25169,2000,Sydney,Fencing,Fencing,"AZNAVOURIAN, Karina",RUS,Women,épée team,W,Gold
25170,2000,Sydney,Fencing,Fencing,"ERMAKOVA, Oxana",RUS,Women,épée team,W,Gold
25171,2000,Sydney,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold
25172,2000,Sydney,Fencing,Fencing,"MAZINA, Mariya",RUS,Women,épée team,W,Gold

In [ ]:
# Getting the first men to run 100m in under 10 seconds for each Olympic games
first_men_100m = olpics_df[(olpics_df["Event"] == "100m") & (olpics_df["Event_Gender"] == "M") & (olpics_df["Medal"] == "Gold")]
first_men_100m

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
166,1900,Paris,Athletics,Athletics,"JARVIS, Francis",USA,Men,100m,M,Gold
687,1904,St Louis,Athletics,Athletics,"HAHN, Archie",USA,Men,100m,M,Gold
1158,1908,London,Athletics,Athletics,"WALKER, Reginald",RSA,Men,100m,M,Gold
1950,1912,Stockholm,Athletics,Athletics,"CRAIG, Ralph",USA,Men,100m,M,Gold
2854,1920,Antwerp,Athletics,Athletics,"PADDOCK, Charles",USA,Men,100m,M,Gold
4151,1924,Paris,Athletics,Athletics,"ABRAHAMS, Harold",GBR,Men,100m,M,Gold
5032,1928,Amsterdam,Athletics,Athletics,"WILLIAMS, Percy",CAN,Men,100m,M,Gold
5742,1932,Los Angeles,Athletics,Athletics,"TOLAN, Eddie",USA,Men,100m,M,Gold
6357,1936,Berlin,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
7235,1948,London,Athletics,Athletics,"DILLARD, Harrison",USA,Men,100m,M,Gold
8051,1952,Helsinki,Athletics,Athletics,"REMIGINO, Lindy",USA,Men,100m,M,Gold
8937,1956,Melbourne / Stockholm,Athletics,Athletics,"MORROW, Robert Joseph",USA,Men,100m,M,Gold
9822,1960,Rome,Athletics,Athletics,"HARY, Armin",EUA,Men,100m,M,Gold
10712,1964,Tokyo,Athletics,Athletics,"HAYES, Robert",USA,Men,100m,M,Gold
11714,1968,Mexico,Athletics,Athletics,"HINES, James Ray",USA,Men,100m,M,Gold
12752,1972,Munich,Athletics,Athletics,"BORZOV, Valery",URS,Men,100m,M,Gold
13941,1976,Montreal,Athletics,Athletics,"CRAWFORD, Hasely",TRI,Men,100m,M,Gold
15249,1980,Moscow,Athletics,Athletics,"WELLS, Allan",GBR,Men,100m,M,Gold
16636,1984,Los Angeles,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
18098,1988,Seoul,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
19655,1992,Barcelona,Athletics,Athletics,"CHRISTIE, Linford",GBR,Men,100m,M,Gold
21354,1996,Atlanta,Athletics,Athletics,"BAILEY, Donovan",CAN,Men,100m,M,Gold
23210,2000,Sydney,Athletics,Athletics,"GREENE, Maurice",USA,Men,100m,M,Gold
25233,2004,Athens,Athletics,Athletics,"GATLIN, Justin",USA,Men,100m,M,Gold

In [89]:
# Display only the Athlete_Name, NOC, Year, and Medal columns
first_men_100m[["Athlete_Name", "NOC", "Year", "Medal"]]
# Alternatively : 
# first_men_100m = olpics_df[(olpics_df["Event"] == "100m") & (olpics_df["Event_Gender"] == "M") & (olpics_df["Medal"] == "Gold")][["Athlete_Name", "NOC", "Year", "Medal"]]
# first_men_100m

                Athlete_Name  NOC  Year Medal
4              BURKE, Thomas  USA  1896  Gold
166          JARVIS, Francis  USA  1900  Gold
687             HAHN, Archie  USA  1904  Gold
1158        WALKER, Reginald  RSA  1908  Gold
1950            CRAIG, Ralph  USA  1912  Gold
2854        PADDOCK, Charles  USA  1920  Gold
4151        ABRAHAMS, Harold  GBR  1924  Gold
5032         WILLIAMS, Percy  CAN  1928  Gold
5742            TOLAN, Eddie  USA  1932  Gold
6357            OWENS, Jesse  USA  1936  Gold
7235       DILLARD, Harrison  USA  1948  Gold
8051         REMIGINO, Lindy  USA  1952  Gold
8937   MORROW, Robert Joseph  USA  1956  Gold
9822             HARY, Armin  EUA  1960  Gold
10712          HAYES, Robert  USA  1964  Gold
11714       HINES, James Ray  USA  1968  Gold
12752         BORZOV, Valery  URS  1972  Gold
13941       CRAWFORD, Hasely  TRI  1976  Gold
15249           WELLS, Allan  GBR  1980  Gold
16636            LEWIS, Carl  USA  1984  Gold
18098            LEWIS, Carl  USA  1988  Gold
19655      CHRISTIE, Linford  GBR  1992  Gold
21354        BAILEY, Donovan  CAN  1996  Gold
23210        GREENE, Maurice  USA  2000  Gold
25233         GATLIN, Justin  USA  2004  Gold

In [88]:
# sort by Year in descending orde
first_men_100m.sort_values(by="Year", ascending=False)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
25233,2004,Athens,Athletics,Athletics,"GATLIN, Justin",USA,Men,100m,M,Gold
23210,2000,Sydney,Athletics,Athletics,"GREENE, Maurice",USA,Men,100m,M,Gold
21354,1996,Atlanta,Athletics,Athletics,"BAILEY, Donovan",CAN,Men,100m,M,Gold
19655,1992,Barcelona,Athletics,Athletics,"CHRISTIE, Linford",GBR,Men,100m,M,Gold
18098,1988,Seoul,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
16636,1984,Los Angeles,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
15249,1980,Moscow,Athletics,Athletics,"WELLS, Allan",GBR,Men,100m,M,Gold
13941,1976,Montreal,Athletics,Athletics,"CRAWFORD, Hasely",TRI,Men,100m,M,Gold
12752,1972,Munich,Athletics,Athletics,"BORZOV, Valery",URS,Men,100m,M,Gold
11714,1968,Mexico,Athletics,Athletics,"HINES, James Ray",USA,Men,100m,M,Gold
10712,1964,Tokyo,Athletics,Athletics,"HAYES, Robert",USA,Men,100m,M,Gold
9822,1960,Rome,Athletics,Athletics,"HARY, Armin",EUA,Men,100m,M,Gold
8937,1956,Melbourne / Stockholm,Athletics,Athletics,"MORROW, Robert Joseph",USA,Men,100m,M,Gold
8051,1952,Helsinki,Athletics,Athletics,"REMIGINO, Lindy",USA,Men,100m,M,Gold
7235,1948,London,Athletics,Athletics,"DILLARD, Harrison",USA,Men,100m,M,Gold
6357,1936,Berlin,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
5742,1932,Los Angeles,Athletics,Athletics,"TOLAN, Eddie",USA,Men,100m,M,Gold
5032,1928,Amsterdam,Athletics,Athletics,"WILLIAMS, Percy",CAN,Men,100m,M,Gold
4151,1924,Paris,Athletics,Athletics,"ABRAHAMS, Harold",GBR,Men,100m,M,Gold
2854,1920,Antwerp,Athletics,Athletics,"PADDOCK, Charles",USA,Men,100m,M,Gold
1950,1912,Stockholm,Athletics,Athletics,"CRAIG, Ralph",USA,Men,100m,M,Gold
1158,1908,London,Athletics,Athletics,"WALKER, Reginald",RSA,Men,100m,M,Gold
687,1904,St Louis,Athletics,Athletics,"HAHN, Archie",USA,Men,100m,M,Gold
166,1900,Paris,Athletics,Athletics,"JARVIS, Francis",USA,Men,100m,M,Gold
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold

## Using string methods

In [ ]:
# Changing the the 'Athlete_Names' to Capitalized
olpics_df["Athlete_Name"].str.capitalize()

0             Flameng, léon
1        Kolettis, georgios
2             Lane, francis
3          Szokolyi, alajos
4             Burke, thomas
                ...
27169    Logounova, tatiana
27170         Sivkova, anna
27171        Bokel, claudia
27172       Duplitzer, imke
27173     Heidemann, britta
Name: Athlete_Name, Length: 27174, dtype: object

In [93]:
# Changing the 'Event' to Capitalized
olpics_df["Event"].str.capitalize()

0            100km
1            100km
2             100m
3             100m
4             100m
           ...
27169    Épée team
27170    Épée team
27171    Épée team
27172    Épée team
27173    Épée team
Name: Event, Length: 27174, dtype: object

In [96]:
# Saving the changes in the dataframe object
olpics_df["Event"] = olpics_df["Event"].str.capitalize()
olpics_df["Athlete_Name"] = olpics_df["Athlete_Name"].str.capitalize()
olpics_df.sample(5)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
525,1900,Paris,Polo,Polo,"Buckmaster, walter selby",ZZX,Men,Polo,M,Silver
22315,1996,Atlanta,Football,Football,Marcelinho paulista,BRA,Men,Football,M,Bronze
14724,1976,Montreal,Handball,Handball,"Kravtsov, vladimir",URS,Men,Handball,M,Gold
23117,1996,Atlanta,Aquatics,Water polo,"Moro, ivan",ESP,Men,Water polo,M,Gold
2564,1912,Stockholm,Gymnastics,Artistic G.,"Southern, arthur george heron",GBR,Men,Team competition,M,Bronze

In [97]:
# The mosted successful athletes 'Larisa Latynina' with 18 medals
olpics_df["Athlete_Name"].str.count("Latynina").sum()

18

In [100]:
# Checking how many times 'Latynina' appears in the Athlete_Name column
olpics_df["Athlete_Name"].str.contains("Latynina")

0        False
1        False
2        False
3        False
4        False
         ...
27169    False
27170    False
27171    False
27172    False
27173    False
Name: Athlete_Name, Length: 27174, dtype: bool

In [102]:
# Now to filter the dataframe based on the above condition
olpics_df[olpics_df["Athlete_Name"].str.contains("Latynina")][["Athlete_Name", "NOC", "Year", "Medal"]]

           Athlete_Name  NOC  Year   Medal
9372   Latynina, larisa  URS  1956    Gold
9539   Latynina, larisa  URS  1956    Gold
9679   Latynina, larisa  URS  1956    Gold
9702   Latynina, larisa  URS  1956  Bronze
9735   Latynina, larisa  URS  1956  Silver
9741   Latynina, larisa  URS  1956    Gold
10179  Latynina, larisa  URS  1960  Silver
10277  Latynina, larisa  URS  1960    Gold
10458  Latynina, larisa  URS  1960    Gold
10576  Latynina, larisa  URS  1960    Gold
10612  Latynina, larisa  URS  1960  Silver
10616  Latynina, larisa  URS  1960  Bronze
11095  Latynina, larisa  URS  1964  Bronze
11195  Latynina, larisa  URS  1964    Gold
11387  Latynina, larisa  URS  1964  Silver
11517  Latynina, larisa  URS  1964    Gold
11551  Latynina, larisa  URS  1964  Bronze
11558  Latynina, larisa  URS  1964  Silver

## Sorting a DataFrame or series

In [105]:
olpics_df.head(10)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
0,1896,Athens,Cycling,Cycling Track,"Flameng, léon",FRA,Men,100km,M,Gold
1,1896,Athens,Cycling,Cycling Track,"Kolettis, georgios",GRE,Men,100km,M,Silver
2,1896,Athens,Athletics,Athletics,"Lane, francis",USA,Men,100m,M,Bronze
3,1896,Athens,Athletics,Athletics,"Szokolyi, alajos",HUN,Men,100m,M,Bronze
4,1896,Athens,Athletics,Athletics,"Burke, thomas",USA,Men,100m,M,Gold
5,1896,Athens,Athletics,Athletics,"Hofmann, fritz",GER,Men,100m,M,Silver
6,1896,Athens,Aquatics,Swimming,"Hajos, alfred",HUN,Men,100m freestyle,M,Gold
7,1896,Athens,Aquatics,Swimming,"Herschmann, otto",AUT,Men,100m freestyle,M,Silver
8,1896,Athens,Aquatics,Swimming,"Drivas, dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
9,1896,Athens,Aquatics,Swimming,"Malokinis, ioannis",GRE,Men,100m freestyle for sailors,M,Gold

In [ ]:
# Sorting a DataFrame
olpics_df.sort_values(by="Athlete_Name")

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
611,1900,Paris,Tug of War,Tug of War,"Aabye, edgar",ZZX,Men,Tug of war,M,Gold
3060,1920,Antwerp,Aquatics,Swimming,"Aaltonen, arvo ossian",FIN,Men,400m breaststroke,M,Bronze
2963,1920,Antwerp,Aquatics,Swimming,"Aaltonen, arvo ossian",FIN,Men,200m breaststroke,M,Bronze
7792,1948,London,Gymnastics,Artistic G.,"Aaltonen, paavo johannes",FIN,Men,Individual all-round,M,Bronze
7906,1948,London,Gymnastics,Artistic G.,"Aaltonen, paavo johannes",FIN,Men,Team competition,M,Gold
...,...,...,...,...,...,...,...,...,...,...
275,1900,Paris,Shooting,Shooting,"Östmo, ole",NOR,Men,"Army rifle, 300m, prone",M,Bronze
443,1900,Paris,Shooting,Shooting,"Östmo, ole",NOR,Men,"Free rifle, team",M,Silver
280,1900,Paris,Shooting,Shooting,"Östmo, ole",NOR,Men,"Army rifle, 300m, standing",M,Silver
268,1900,Paris,Shooting,Shooting,"Östmo, ole",NOR,Men,"Army rifle, 300m, 3 positions",M,Bronze
8125,1952,Helsinki,Aquatics,Swimming,"Östrand, per-olof",SWE,Men,400m freestyle,M,Bronze

In [ ]:
# Checking if it's a DataFrame
type(olpics_df.sort_values(by="Athlete_Name"))

pandas.core.frame.DataFrame

In [107]:
# Sorting a column
olpics_df["Athlete_Name"].sort_values()

611                 Aabye, edgar
3060       Aaltonen, arvo ossian
2963       Aaltonen, arvo ossian
7792    Aaltonen, paavo johannes
7906    Aaltonen, paavo johannes
                  ...
275                   Östmo, ole
443                   Östmo, ole
280                   Östmo, ole
268                   Östmo, ole
8125           Östrand, per-olof
Name: Athlete_Name, Length: 27174, dtype: object

In [ ]:
# checking if it's a Series
type(olpics_df["Athlete_Name"].sort_values())

pandas.core.series.Series

In [109]:
# Sorting a DataFrame by multiple columns
olpics_df.sort_values(by=["Year", "Athlete_Name"])

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
20,1896,Athens,Aquatics,Swimming,"Andreou, joannis",GRE,Men,1200m freestyle,M,Silver
103,1896,Athens,Gymnastics,Artistic G.,"Andriakopoulos, nicolaos",GRE,Men,Rope climbing,M,Gold
141,1896,Athens,Gymnastics,Artistic G.,"Andriakopoulos, nicolaos",GRE,Men,"Team, parallel bars",M,Silver
142,1896,Athens,Gymnastics,Artistic G.,"Athanasopoulos, spyros",GRE,Men,"Team, parallel bars",M,Silver
79,1896,Athens,Cycling,Cycling Road,"Battel, edward",GBR,Men,Individual road race,M,Bronze
...,...,...,...,...,...,...,...,...,...,...
25753,2004,Athens,Boxing,Boxing,"Zuyev, viktar",BLR,Men,81 - 91kg (heavyweight),M,Silver
25748,2004,Athens,Judo,Judo,"Zviadauri, zurab",GEO,Men,81 - 90kg (middleweight),M,Gold
26570,2004,Athens,Hockey,Hockey,"Zwehl, julia",GER,Women,Hockey,W,Gold
25440,2004,Athens,Aquatics,Swimming,"Zwering, klaas-erik",NED,Men,4x100m freestyle relay,M,Silver
25587,2004,Athens,Athletics,Athletics,"Zykina, olesya",RUS,Women,4x400m relay,W,Silver

In [110]:
# Sorting a DataFrame by multiple columns but in different orders
olpics_df.sort_values(by=["Year", "Athlete_Name"], ascending=[True, False])

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal
92,1896,Athens,Gymnastics,Artistic G.,"Zutter, louis",SUI,Men,Parallel bars,M,Silver
97,1896,Athens,Gymnastics,Artistic G.,"Zutter, louis",SUI,Men,Pommel horse,M,Gold
150,1896,Athens,Gymnastics,Artistic G.,"Zutter, louis",SUI,Men,Vault,M,Silver
104,1896,Athens,Gymnastics,Artistic G.,"Xenakis, thomasios",GRE,Men,Rope climbing,M,Silver
144,1896,Athens,Gymnastics,Artistic G.,"Xenakis, thomasios",GRE,Men,"Team, parallel bars",M,Silver
...,...,...,...,...,...,...,...,...,...,...
26997,2004,Athens,Volleyball,Volleyball,"Abramov, pavel",RUS,Men,Volleyball,M,Bronze
25726,2004,Athens,Wrestling,Wrestling Gre-R,"Abrahamian, ara",SWE,Men,74 - 84kg,M,Silver
25418,2004,Athens,Taekwondo,Taekwondo,"Abdallah, nia",USA,Women,49 - 57 kg,W,Silver
26832,2004,Athens,Cycling,Cycling Track,"Abassova, tamilla",RUS,Women,Sprint,W,Silver
25212,2004,Athens,Wrestling,Wrestling Free.,"Abas, stephen",USA,Men,- 55kg,M,Silver

## Working with data types

In [112]:
olpics_df.dtypes

Year             int64
City            object
Sport           object
Discipline      object
Athlete_Name    object
NOC             object
Gender          object
Event           object
Event_Gender    object
Medal           object
dtype: object

In [113]:
# Changeing all categorial columns to 'category' data type
categorical_cols = ["Gender", "Event_Gender", "Medal"]
for col in categorical_cols:
    olpics_df[col] = olpics_df[col].astype("category")

olpics_df.dtypes

Year               int64
City              object
Sport             object
Discipline        object
Athlete_Name      object
NOC               object
Gender          category
Event             object
Event_Gender    category
Medal           category
dtype: object

In [115]:
# changing the order of the 'Medal' category. That's is Bronze < Silver < Gold. Because by default it's in alphabetical order and in the Olympics, Bronze is less than Silver which is less than Gold.
medal_categories = ["Bronze", "Silver", "Gold"]
olpics_df["Medal"] = olpics_df["Medal"].cat.reorder_categories(medal_categories, ordered=True)
# Alternatively, we can also use the 'Categorical' data type constructor to achieve the same
# olpics_df["Medal"] = pd.Categorical(olpics_df["Medal"], categories=medal_categories, ordered=True)
olpics_df.dtypes

Year               int64
City              object
Sport             object
Discipline        object
Athlete_Name      object
NOC               object
Gender          category
Event             object
Event_Gender    category
Medal           category
dtype: object